[2012-09-01 08:53] ejholmes opened #1 "Add pagination support"

[2012-09-02 22:41] #1 closed, assigned to ejholmes

[2012-09-03 21:04] ejholmes opened #4 "Add caching middleware."

[2012-09-03 22:33] ejholmes opened #5 "update! should raise errors, update should return false."

[2012-09-03 22:33] ejholmes opened #6 "destroy! should raise errors, destroy should return false."

[2012-09-04 00:39] #6 closed, assigned to ejholmes

[2012-09-04 00:44] #5 closed, assigned to ejholmes

[2012-09-04 00:46] ejholmes opened #7 "Implement upserts."

[2012-09-06 08:17] ejholmes opened #8 ".create and .create!"

[2012-09-06 21:52] ejholmes opened #9 "refresh_token, client_id, client_secret should be all that's required for token authentication."

[2012-09-06 21:53] ejholmes opened #10 "rename OAuthAuthentication to TokenAuthentication"

[2012-09-07 17:42] #10 closed, assigned to ejholmes

[2012-09-07 17:56] #9 closed, assigned to ejholmes

[2012-09-07 21:44] ejholmes opened #11 "Implement concrete sobjects"
As a user, I want to be able to define a class that is linked to a Salesforce sobject:

[code]

[2012-09-08 07:04] #8 closed, assigned to ejholmes

[2012-09-10 17:24] ejholmes opened #12 "Spec for mash class"

[2012-09-11 03:38] #7 closed, assigned to ejholmes

[2012-09-11 04:00] #12 closed, assigned to nobody

[2012-09-11 04:39] #4 closed, assigned to ejholmes

[2012-09-11 19:31] jskirst opened #13 "Calls failing due due to undefined method `bytesize' error"
Testing out a query with a simple call, but getting the following error.

[code]

client initialization:

[code]

(Restforce.new was failing with separate error - undefined method new for Restforce:Module)

Query:

[code]

Stack trace:

[code]

[2012-09-17 05:50] #13 closed, assigned to nobody

[2012-09-18 17:52] ejholmes opened #14 "undefined method `fetch' for nil:NilClass"
[code]

[2012-09-19 14:56] ejholmes opened #17 "Change to fixed nav bar when on touch device."

[2012-09-19 15:22] #17 closed, assigned to ejholmes

[2012-09-19 18:37] ejholmes opened #18 "Refactor logging"
It's not as usable as it should be.

[2012-09-19 23:58] ejholmes opened #19 ".attrs should be a public method on SObject."

[2012-09-21 19:09] ejholmes opened #22 "Implement metadata call?"
http://www.salesforce.com/us/developer/docs/api_rest/Content/dome_sobject_basic_info.htm

[2012-09-21 19:33] ejholmes opened #23 "Alias methods?"
create => insert
destroy => delete

[2012-09-21 19:42] #23 closed, assigned to ejholmes

[2012-09-21 19:53] ejholmes opened #24 "Expose faye connection in the public api?"

[2012-09-22 07:37] #18 closed, assigned to ejholmes

[2012-09-24 04:07] ejholmes opened #27 ".authenticate! should return the hash result."

[2012-09-24 06:33] #27 closed, assigned to ejholmes

[2012-09-24 06:50] #19 closed, assigned to ejholmes

[2012-09-25 00:12] #14 closed, assigned to ejholmes

[2012-10-18 05:59] psahni opened #31 "support for ruby 1.8"
I am using ruby 1.8
And this gem is supporting ruby 1.9
ex: it uses new hash syntax.
Please if you can tell me the work around
Thanks

[2012-10-18 07:57] #31 closed, assigned to nobody

[2012-10-30 15:15] ghost opened #32 "Security token not always required"
Hi, I love this gem. I've been using a similar approach and having it packaged up is awesome. Thanks!

I'm wondering what you would think about not having the security token be a hard requirement when using username/password authentication. If the connection if from an IP that is whitelisted in the org it isn't actually required to authenticate. I have some use cases where IP restrictions are more

[2012-10-30 15:19] ghost opened #33 "Return error message on failed CRUD operations"
Getting false on a failed insert or update is handy sometimes, but having the client return the error message might be preferable in many cases. Maybe some sort of result object with a success boolean could be returned? Is that something you'd consider including? I can submit a patch if you'd like.

[2012-10-30 15:22] #33 closed, assigned to nobody

[2012-10-31 19:18] daveespo opened #35 "Faye is now listed as a development dependency but it's still required by restforce.rb"
If you try to deploy an app to production that uses Restforce 0.1.6, it croaks on startup because restforce.rb requires 'faye' but it's not a runtime dependency in the gemspec

Should this 'require' be removed from the restforce.rb or the runtime dependency re-added?

See

https://github.com/ejholmes/restforce/commit/dde6f09090db902cd37210cd2822f1029fd61562#restforce.gemspec

[2012-10-31 19:28] #35 closed, assigned to nobody

[2012-11-03 00:51] #32 closed, assigned to nobody

[2012-11-04 20:34] raosushant opened #36 "Getting error -- no _dump_data is defined for class Proc"
I get this error right after this line below is executed. I am fairly confident the connection is being setup correctly since I get a response back with the right contents.

[code]

[2012-11-04 22:56] #36 closed, assigned to nobody

[2012-11-15 17:15] ejholmes opened #37 "Auto pagination traversal."

[2012-11-20 23:19] ejholmes opened #38 "Add chatter support?"
Maybe

[2012-12-04 11:48] jeffdonthemic opened #39 "Return Salesforce.com Errors"
Methods such as create, update, etc. simply return false if an error occurs in Salesforce.com. Would be great if these methods returned the errors array (or some values from it) when success equals false.

[2012-12-04 17:42] #39 closed, assigned to nobody

[2012-12-04 18:19] ejholmes opened #40 "Methods on sobject should have bang! methods."

[2012-12-04 18:32] #40 closed, assigned to ejholmes

[2012-12-04 19:30] ejholmes opened #41 "Handle re-authentication for the streaming api"
Something like:

[code]

[2012-12-04 19:34] #41 closed, assigned to nobody

[2012-12-05 00:43] #24 closed, assigned to ejholmes

[2012-12-06 07:17] ejholmes opened #42 "Update rspec expectations syntax"
Should start using `expect()` in place of `should`.

http://myronmars.to/n/dev-blog/2012/06/rspecs-new-expectation-syntax

[2012-12-14 01:31] #42 closed, assigned to ejholmes

[2012-12-14 13:32] jeffdonthemic opened #44 "Update! should allow for lower case 'Id' key"
Not a big issue, but update! currently requires the hash key for the id be camelcase ('Id'). However, since salesforce is case insensitive, it should be case insensitive as well. Ran into this when passing the key as 'id'.

[2012-12-14 18:05] #44 closed, assigned to nobody

[2012-12-15 06:21] ejholmes opened #45 "Allow .subscribe to take the same options as faye.subscribe."
https://github.com/faye/faye/blob/master/lib/faye/protocol/client.rb#L193

[2012-12-15 07:21] #22 closed, assigned to ejholmes

[2012-12-15 07:21] #11 closed, assigned to ejholmes

[2012-12-15 07:25] #38 closed, assigned to ejholmes

[2012-12-19 15:47] jeffdonthemic opened #46 "Restforce::AuthenticationError: invalid_client_id: client identifier invalid"
I don't think this is an issue with the gem as I am having the same problem with the databasedotcom gem but no one seems to respond on the [Discussion Boards](http://boards.developerforce.com/t5/Security/OAuth-Dance-Randomly-Failing-with-quot-client-identifier-invalid/td-p/547515) so I thought I might log an issue here.

The OAuth dance is randomly failing with "invalid_client_id: client identifie

[2012-12-19 22:35] #46 closed, assigned to nobody

[2012-12-22 06:30] #45 closed, assigned to ejholmes

[2012-12-22 06:51] ejholmes opened #48 "Add HEAD verb"
Some of salesforce's endpoints respond to HEAD. Might as well add it.

[2012-12-24 00:50] ejholmes opened #49 "Add support for the tooling API?"
Could be some cool stuff around this.

http://www.salesforce.com/us/developer/docs/api_toolingpre/api_tooling.pdf

[2012-12-24 01:56] #48 closed, assigned to ejholmes

[2013-02-11 19:39] ejholmes opened #54 "Salesforce URI's"
salesforce://user:pass@host?client_id=id&client_secret=secret&security_token=token

[2013-02-27 20:20] iDiogenes opened #56 "Downloading Attachments using restforce"
Using the databasedotcom gem you can download attachments in the following way

att = Attachment.find_by_Id("xxxxx")
DBDOTCOM_CLIENT.http_get(att.Body).body

However, I am not sure how to do this via the restforce gem.  The closest thing I could find was the command below, but that is still not returning the image.

SFCLIENT.get.http_get(att.Body).body

Any insight that could be provided on downlo

[2013-03-04 01:42] #56 closed, assigned to nobody

[2013-03-18 16:58] ejholmes opened #58 "White label faraday's exceptions"
[here](https://github.com/ejholmes/restforce/blob/master/lib/restforce/middleware/raise_error.rb#L7-L11)

[2013-03-18 16:58] ejholmes opened #59 "Add http proxy support"

[2013-04-06 10:17] #59 closed, assigned to nobody

[2013-05-08 16:32] masha256 opened #66 "restforce pins to older version of hashie causing problems with gems using newer version of hashie"
Bundler could not find compatible versions for gem "hashie":
  In Gemfile:
    restforce (>= 0) ruby depends on
      hashie (~> 1.2.0) ruby

[code]

Any compatibility issues with the newer versions of hashie? Can it depend on >= 1.2.0?

[2013-05-09 17:30] heberuriegas opened #67 "INVALID_QUERY_LOCATOR with caching and more than 2000 rows"
I have this error for a query with more than 2000 rows and cache is enable.

Faraday::Error::ClientError: INVALID_QUERY_LOCATOR: invalid query locator

Some documentation:
http://help.salesforce.com/apex/HTViewSolution?id=000004410&language=en_US

[2013-05-11 16:04] ejholmes opened #68 "Raise error middleware expects an array in the body, which isn't always the case."
**Stack Trace**

[code]

[2013-05-31 16:13] jeffdonthemic opened #71 "Undefined method `authenticate!'"
I've started seeing this error popping up today on code that hasn't changed in quite awhile:

undefined method `authenticate!' for #Restforce::Client:0x00000006c8d6f0

I'm using:

restforce (1.1.0)
  faraday (~> 0.8.4)
  faraday_middleware (>= 0.8.8)
  hashie (~> 1.2.0)
  json (~> 1.7.5)

[2013-06-04 06:54] lukesutton opened #72 "When using EM-Synchrony with Faraday, application/x-www-form-urlencoded is not set"
This applies to POST and PUT requests. The error that Salesforce returns is:

[code]

But that seems to be misdirection. We discovered after manually reproducing the request, that the Salesforce API expects Content-Type to be set to application/x-www-form-urlencoded. Otherwise the body is not parsed correctly and it freaks out over the grant type.

By default Net:HTTP adds the appropriate headers.

[2013-06-04 14:20] #68 closed, assigned to ejholmes

[2013-06-05 04:32] #72 closed, assigned to nobody

[2013-06-19 23:47] antonlitvinenko opened #76 "Manual Pagination of Large Data Amounts"
Hey,

I've noticed you've added automatic pagination of collections, which is cool... but you've also removed a chance to traverse them manually in case there are really large amounts of data (in 10,000s and 100,000).

Is there a plan or workaround to have it back? (perviously i could take only current page and then explicitly ask for the next one)

[2013-08-06 18:11] kylethornton opened #81 "Refresh token flow doesn't appear to work"
I am getting an error "Salesforce Authentication Error: invalid_grant: expired access/refresh token" when trying to use the refresh token flow.

My connection is set up with the following

Restforce.new :oauth_token   => @organization.sfdc_access_token,
                    :refresh_token => @organization.sfdc_refresh_token,
                    :instance_url  => @organization.sfdc_instance_url,

[2013-08-07 12:46] #81 closed, assigned to nobody

[2013-08-13 15:13] #71 closed, assigned to nobody

[2013-08-13 15:34] jeffdonthemic opened #82 "Apex REST endpoints return Faraday::Response instead of Restforce::Collection"
It looks this is return the wrong type per the docs.

results = client.get '/services/apexrest/v.9/challengeslist'
results.class
 => Faraday::Response

Thanks
Jeff

[2013-08-26 12:50] noeticpenguin opened #83 "If one wanted to add modular support for chatter..."
how would you suggest they do it?

[2013-08-26 16:29] #83 closed, assigned to nobody

[2013-08-28 13:39] kylethornton opened #85 "Restforce multipart upload no longer works"
I fear something changed in the API as multipart uploads were considered a pilot feature. All of a sudden the attachments are created but the body of the attachments are 0 bytes. Using standard blob uploads works though.

[2013-09-16 02:35] #66 closed, assigned to nobody

[2013-10-04 21:36] antonlitvinenko opened #88 "Access to Response Headers"
Salesforce returns API usage rate in `Sforce-Limit-Info` header: `api-usage=49/5000000`.

I would like to have access to that information. Is it possible with current implementation? If not, any ideas how this could be implemented in a most reasonable way?

[2013-10-30 18:40] iDiogenes opened #89 "authentication issues with faye 1.0.0"
Looks like restforce might be having issues with the latest version of faye (1.0.0) which came out a few weeks ago.

[code]

This exception is raised in the handle_response method in the faye class Transport::Http. Looking at the response that is being passed into the handle_response method I am seeing the following:

<body><h2>HTTP ERROR 401</h2>
<p>Problem accessing /cometd/26.0. Reason:
<pre>

[2013-11-17 17:47] stomita opened #91 "Apex REST call returning primitive value fails"
When calling Apex REST call which returns simple primitive value (like Integer or String, not object) will fail in parsing.

e.g.

[code]

The code below will fail

[code]

and outputs following stack trace

[code]

[2013-11-18 04:58] #91 closed, assigned to nobody

[2013-12-27 10:25] sanandnarayan opened #93 "Bi-directional sync with salesforce and postgresql"
Has anyone implemented a Bi-directional sync with salesforce and postgresql .

Like cloudconnect.com .

I am looking to sync the Salesforce.com objects with my inhouse database. I am wondering what is the best way to do this.

Any thoughts?

[2014-01-09 11:06] sanandnarayan opened #94 "NotifyForDeleteOperation not working in streaming API"
[code]

`returns a Faraday error saying "NotifyForOperationDelete" is not found in the sobject of PushTopic`

[2014-01-24 09:50] #94 closed, assigned to nobody

[2014-01-28 14:21] #93 closed, assigned to nobody

[2014-02-25 04:43] miklernout opened #97 "Problems using the Streaming API through restforce"
I am having some difficulties using the Streaming API through restforce. I have created a PushTopic, and am using restforce to connect to it. The first couple of steps of the connection setup seem to be going great, up until the '/meta/connect' call after which I always get a "402::Unknown client" error back. I have pasted my Faye debug output below, as you can see it keeps creating new client ids

[2014-02-26 21:43] daveespo opened #98 "Support for global default config appears to be broken"
Following the instructions on the README, this code:

[code]

Results in

[code]

It looks like the cause is that the write_attribute method in Configuration::Option is defined in a private block which, surprisingly, is resulting in the attr_accessor being private. If I remove the 'private' on line 58, it works as advertised

This is on Ruby 1.9.2 and Resforce 1.4.3

Should I submit a PR for this

[2014-03-11 22:40] ryanbrainard opened #99 "Identity endpoint support"
It doesn't look like there is a way to get to the identity endpoint (i.e. the `identity` value returned from `/services/data/vX.XX`) to obtain the logged in user's info. I may turn this into a pull request, but if you beat me to it, here's the monkey patch I used to get around this which should give you an idea of what I'm getting at here:

[code]

This allows you to do things like:

[code]

[2014-03-30 17:12] infinite-monkeys opened #101 "faraday 0.9.0 support"
Hi,  I was wondering whether there were any known issues with faraday 0.9.0 (~> 0.8.4). I'm trying to integrate with something using signet 0.5.0, which requires faraday >= 0.9.0.rc5.  Thanks!

[2014-04-20 19:01] gbutt opened #103 "Streaming does not set Authorization header"
I am getting 401 errors when trying to subscribe to a pushtopic. Adding the Authorization header to the Faye client seems to resolve this issue.

See faye logger output below:

[code]

my hack:

[code]

[2014-05-07 00:20] stevenringo opened #105 "Paged queries"
Added in error. Please ignore

[2014-05-07 02:49] #105 closed, assigned to nobody

[2014-05-09 10:07] stevenringo opened #106 "Memory usage with large datasets"
Hi,

I need to download a large dataset (~500k records). I am trying to use the paged dataset feature to work with only 2000 records at a time, but finding memory is increasing to the point where a 2 GB of memory is consumed with 100k records. It seems as if the lazy loading does not recycle the objects with each iteration when using the paged option. I will have a go at seeing if I can find why t

[2014-05-13 10:26] harsh-parihar opened #107 "How To get field information like description, help text from salesforce using restforce api"
Is there any api call by which we can get the field informations like description of field, help text which comes on hover for a particular field.

[2014-05-28 18:07] braidn opened #109 "Passing In Parameters"
Hey all,

I have a client who has Assignment Rules that need to be flagged in the header. I was wondering if there was a somewhat easier way to do this. I have looked through the code and maybe I don't understand the "vastness" of the Salesforce API but I am having a hard time finding where this would be done.

[For example this header](http://www.salesforce.com/us/developer/docs/api_rest/Content/

[2014-05-28 23:07] bramswenson opened #111 "Travis build errors"
Travis builds are failing on an error.

[2014-05-28 23:52] #111 closed, assigned to bramswenson

[2014-05-29 00:25] #107 closed, assigned to nobody

[2014-05-29 00:28] #103 closed, assigned to nobody

[2014-05-29 00:38] bramswenson opened #114 "Upgrade to Latest Faye"
Lots of open issues on Faye version. Lets see if we can get that handled shall we.

[2014-05-29 00:42] #89 closed, assigned to nobody

[2014-05-29 00:42] #97 closed, assigned to nobody

[2014-05-29 01:22] #76 closed, assigned to nobody

[2014-05-29 01:24] #37 closed, assigned to ejholmes

[2014-05-29 03:16] #99 closed, assigned to nobody

[2014-05-29 12:12] #85 closed, assigned to nobody

[2014-07-18 00:43] bcaplan opened #119 "Conflict with ruby-filemagic gem"
Just a heads up on a conflict I found in our Rails app with the [ruby-filemagic](https://github.com/blackwinter/ruby-filemagic/) gem.

This gem defines `String#content_type` which causes [`Restforce::Middleware::Multipart#has_multipart?`](https://github.com/ejholmes/restforce/blob/master/lib/restforce/middleware/multipart.rb#L28) to think that any parameter having a `String` as its value is a mult

[2014-07-21 20:32] iDiogenes opened #120 "Domain is inappropriate based on request URI hostname"
I have been getting the error: "Domain is inappropriate based on request URI hostname" when trying to subscribe to SFDC's streaming API. This started to occur right after they did their Summer'14 upgrade. Anyway else getting this problem?

[2014-07-22 21:28] mshoaibiqbal opened #122 "Streaming API not working."
We are facing the issue with Streaming API. If you run subscription, you will not receive any signal from salesforce.com. Although, it was working fine last week, and also there is no change in my code.
It may some API call change in registration of the push topic because of Summer 14 release. Can anyone help me?

[2014-07-23 12:15] #122 closed, assigned to nobody

[2014-09-02 18:14] tagCincy opened #129 "Using Restforce in a rake task"
I am trying to use Restforce in a rake task to populate my teams individual Dev Edition instances with test data.  For this, I am attempting to use Username/Password authentication.

Whenever I attempt to authenticate, I receive the following error:

`Restforce::AuthenticationError: No authentication middleware present`

I am using the following options when instantiating the client object:

[code

[2014-09-02 18:47] #129 closed, assigned to nobody

[2014-09-09 15:41] daveespo opened #131 "Sporadic "NoMethodError: undefined method `[]' for nil:NilClass" when authenticating"
We've been using the restforce gem for ages (currently 1.4.3). Within the past 2 months, our background jobs that do periodic API calls to Salesforce started failing with:

[code]

I forked restforce and added some debug output and have captured the following Faraday response when this condition occurs. Notice the status=302, body=nil and location=>'/?ec=999'

[code]

Pulling down the body from th

[2014-09-11 17:09] copasetickid opened #133 "Accessing an indivdual Sobject / Sobject API"
Is this possible with this gem as tt's shown in the databasedotcom gem readme how you can individual Sobject classes for your salesforce account and then you're able to perform CRUD actions and queries against?

I see that the client can  view all the sobjects ex:   `client.list_sobjects # => ['Account', 'Lead', ... ]` but I'd like to be able access just all the records of `Account` for example so

[2014-09-15 21:14] britcey opened #134 "update not working, PATCH not supported"
I'm using v1.4.3 and (if it's relevant) I'm using RemedyForce (the Salesforce-hosted version of BMC Remedy).  When I try to update an object, I get an error

[code]

(I just obfuscated the company name and sobjectId in the encoded URL)

Trying a manual client.patch call resulted in the same message and a client.post gave:

[code]

After much digging I found this link http://salesforce.stackexchang

[2014-09-25 15:34] awm33 opened #135 "Streaming API not receiving events"
I'm trying to use the salesforce streaming API with the query "select Id, Name, Company, Title from Lead"

I can connect to it and receive messages on the topic in Node.js using jsforce. But I can't seem to get restforce working.

It connects to the topic, but never shows any messages.

[code]

[2014-09-27 08:06] ahilmer opened #136 "Race Condition with custom Endpoint"
Hi,

i encountered a race condition the last days.

To illustrate the problem I made the following test.
- A Simple RSET Salesforce Enpoint:

[code]
- Then I called it with the RestForce Framework

[code]

I get the following result when I execute the Test Code:

![image](https://cloud.githubusercontent.com/assets/4171011/4430117/adf46730-461c-11e4-9e56-707e0769fb22.png)

As you can see, the Threa

[2014-09-27 18:12] kris-luminar opened #137 "Is there a way to delete push topics using Restforce?"
The only way I've been able to delete them is by logging into [the Workbench](https://workbench.developerforce.com/streaming.php). Does anyone know a better way?

[2014-09-27 18:44] kris-luminar opened #138 "Channel missing from SalesForce streaming API updates but is showing up in the Workbench"
'Channel' (which I need) and 'clientId' (which I don't need) are correctly showing in [the Workbench](https://workbench.developerforce.com/streaming.php)
![screen shot 2014-09-27 at 1 24 57 pm](https://cloud.githubusercontent.com/assets/751779/4431737/2b96ae1a-4676-11e4-875b-ede14a5c71b2.png)

However, they are now missing from the Restforce client. 'Channel' and 'clientId' were both showing befor

[2014-09-27 20:58] bvlaar opened #139 "Pulling multiple children from dynamic parent ID"
I just switched from using the Databasedotcom gem to Restforce. One issue I am encountering is the ability to pull multiple child objects from a parent. If I hardcode the parent's ID into the query like:

client.query("select Loan_Risk__c from Loan_Part__c where Account__c = ''00000001")

I am able to retrieve the child objects. However when I set the Account ID to a variable such as:

client.quer

[2014-09-29 12:40] #139 closed, assigned to nobody

[2014-09-29 21:46] #138 closed, assigned to nobody

[2014-09-29 21:47] #137 closed, assigned to nobody

[2014-10-15 18:13] rdelasalasvmi opened #143 "client.create is Not Saving Data to Salesforce"
I have a call client.create that has been working for quite sometime, today it does not seem to be saving the data that I am expecting to. client.create returns false. Any thoughts on what could be causing this? I can get data just fine, just can't seem to save.

[2014-10-15 18:40] #143 closed, assigned to nobody

[2014-10-22 22:31] rossdakin opened #144 "Suggestions on testing?"
This is off-topic – please forgive me and feel free to delete.

Any suggestions on how to stub out SFDC connectivity to write unit tests for my use of this gem without requiring network activity?

Thanks!

[2014-10-24 21:17] #144 closed, assigned to nobody

[2014-11-03 15:01] kris-luminar opened #146 "Salesforce disabling SSL 3.0 encryption"
Is Restforce ready for this imminent change?

https://help.salesforce.com/apex/HTViewSolution?urlname=Salesforce-disabling-SSL-3-0-encryption&language=en_US&elq_mid=7926&elq_cid=23114452

[2014-11-10 22:25] #146 closed, assigned to nobody

[2014-11-25 15:58] huwd opened #152 "Refactor Cop - 7 Warnings | 8 Convention"
For fun I typed restforce into the 'Refactor-cop' Project from rails rumble - It's flagged 7 Warnings and 8 'convention violations' :)

Thought it might be of interest here:
http://www.refactorcop.com/ejholmes/restforce

I might try and fork to cover them over - but perhaps should do a bit more reading on each before I bugger around with the code!

[2014-12-01 18:20] Fire-Dragon-DoL opened #155 "Is this gem actively maintained/valid replacement over databasedotcom?"
Sorry to bother you with this, I'm thinking about replacing databasedotcom due to various issues with their design (can't force an HTTP authentication request, also when a new access token is obtained with refresh token, it's not stored, actually refreshing the token **each time**, with an additional request. And no simple way to actually get a new access token with current refresh token).

What I

[2014-12-08 23:30] marcelloma opened #156 "Server errors at random"
Hi,

I keep getting these errors at random.

Faraday::Error::ClientError: SERVER_UNAVAILABLE: Server too busy
Faraday::Error::ConnectionFailed: end of file reached
Faraday::Error::TimeoutError: Net::ReadTimeout

Overall communication with salesforce's seem a little bit slower than it should be. Have anybody ever experienced this while using Restforce?

Thanks in advance!

[2014-12-09 14:33] #155 closed, assigned to nobody

[2014-12-16 20:17] synth opened #159 "Restforce deletes external id from attrs hash in update and upsert method"
See: https://github.com/ejholmes/restforce/blob/master/lib/restforce/concerns/api.rb#L263

[code]
In the call to update and upsert the external id is deleted from the attributes hash. This will delete it from upstream clients data structures as well because its all passed by reference.  This was unexpected behavior and I had to dig through Restforce source to figure out why a data structure I pass

[2014-12-16 21:24] KMontag42 opened #160 "Faraday::ResourceNotFound: NOT_FOUND: The requested resource does not exist"
I get this error on every call I make using Restforce.

Any ideas?

It was working fine the last time I dove into Salesforce (about a week ago)

[2014-12-16 22:55] yale opened #161 "Streaming API: Client has established a session, but no BAYEUX_BROWSER cookie present"
Hello,

I have a PushTopic that I can listen to successfully via Workbench, but when I use Restforce I see the following from the faye debug logs:

[code]

Here is my code:

[code]

I am using faye 0.8.9 and the version of cookiejar from MissionCapital/cookiejar.

[2014-12-17 16:04] #160 closed, assigned to nobody

[2015-01-07 04:10] briandiaz opened #164 "Not able to get validation errors"
How i'm supposed to know the validation errors using the create method.

Thanks.

[2015-01-14 00:49] debussyman opened #165 "Faraday::Error is not being constructed properly in restforce middleware"
The Restforce::Middleware::RaiseError class is no longer compatible with Faraday::Response::Middleware (v0.9.1). Specifically in https://github.com/ejholmes/restforce/blob/master/lib/restforce/middleware/raise_error.rb

[code]

env[:response] is nil (the latest version of Faraday::Env no longer contains response).

Looking at https://github.com/lostisland/faraday/blob/master/lib/faraday/response/r

[2015-01-14 17:57] gostrc opened #167 "Consider upgrading the api version to 32.0"
I am at least affected by one issue mentioned at:
https://success.salesforce.com/issues_view?id=a1p30000000T3tyAAC

Keeping up with api versions ensures things like field renames like the linked post get returned correctly by restforce.

[2015-01-14 20:17] daveespo commented on #131
I don't want to declare victory here prematurely, but I haven't seen a single instance of this in our production code since December 16 -- no changes to our code could explain the change in behavior so I have to chalk this up to Salesforce hot patch

I'll close this ticket for now and reopen it if we see it again

[2015-01-14 20:17] #131 closed

[2015-01-14 20:18] Fire-Dragon-DoL commented on #131
@daveespo I probably found the reason, it's a permission issue on salesforce end which returns an unexpected response type. I didn't manage to trigger it anyway.

[2015-01-14 20:21] daveespo commented on #131
Interesting .. though it seemed more like a bug than a repeatable 'undocumented feature' since the same connection attempt against the same org would succeed the second (or third) time. Also, there was a measurable latency in the request/response time so I'm still pretty sure this was an internal timeout that was being badly propagated back to the client

[2015-01-14 20:23] Fire-Dragon-DoL commented on #131
@daveespo it definitely could. Actually more general, it was an issue with an unexpected response. So it may not be directly related to a permission issue, but even to an error (which resulted in an unexpected response)

[2015-01-14 20:26] daveespo commented on #131
Now that the problem went away, I'm not eager to "make work" but it would aid immensely in debugging if Restforce could protect against an unexpected response (in this case, I believe it was a nil response body from Faraday) and at least propagate the whole schmeer back up to the caller via an Exception. Maybe some day down the road...

[2015-01-14 20:28] Fire-Dragon-DoL commented on #131
:+1:

[2015-01-16 11:29] manoj2411 opened #169 "Getting authentication failure error"
Hi,

I can understand the obvious reason of this can be wrong client_id or client_secret or user credentials but the same credentials are working with `databasedotcom` gem.

When I tried it with `restforce` like

    client = Restforce.new :client_id => "***G9ZL0ppGP5UrDYpAXumi8nwstjCLYvheoFNrg3PyY6BEy4p98VyOKsrAUEqKRjC4cUPHz07yMttAGc9***", :client_secret => "5713668283413776***", host: 'test.sale

[2015-01-29 18:25] antwonlee opened #170 "Create multiple objects"
Can this gem create multiple objects within one form?  For example, If I have a form where I have to create Contact record, and custom object record at the same time during client.create action.  We have application form that creates multiple objects and wasn't sure if I was able to do that.

[2015-02-03 08:01] #170 closed

[2015-02-03 21:06] antwonlee commented on #169
try client.authenticate! after all your credentials.

<pre><code>
client = Restforce.new :username => 'foo',
:password => 'bar',
:client_id => 'your_client_id',
:client_secret => 'your_client_secret'
client.authenticate!
</code></pre>

[2015-02-05 00:48] infinite-monkeys commented on #101
I agree.  This has been fixed in #124 and I can confirm this is working for me!

[2015-02-05 00:48] #101 closed

[2015-02-11 16:12] pxlpnk commented on #169
I have the same behaviour. The weird part is the sometimes it works, and sometimes I get the `invalid_grant` error. It is not really possible to reproduce this as it seems to be random.

It happens if I use the same client object over and over again but also if I instantiate a fresh client for every call.

[2015-02-13 16:32] bvlaar opened #171 "Username/Password auth initialization"
I have a rails 4 application that is currently using Restforce to login to a Salesforce Auth via username and password authentication (we're using one salesforce account to access the org).

When I look at the app's performance, I see the salesforce requests (mostly queries) taking the most time. However, the request is broken down into two components, a login component and the actual request. The

[2015-02-13 18:17] theSteveMitchell commented on #171
TL;DR try caching the auth_token and pass it to Restforce, and then update the cache after the query finishes:
[code]
I had a similar issue with an app I wrote that also used a single application account, and forwarded a query to SF on almost every request.  The authentication phase of the request tok 80-90% of the total query time, and was incurred every time I Restforce.new'd

I found out that S

[2015-02-13 18:56] bvlaar commented on #171
@theSteveMitchell Caching is a good idea. I need to try this.

One thing I want to clarify is that I am using the Username / Password auth method of Restforce (Restforce seems to differentiate oAuth and the username/password methods in the docs). I can easily switch to oAuth to try your method. My Restforce config passes the following into each request to auth:

    client = Restforce.new :usernam

[2015-02-13 19:12] theSteveMitchell commented on #171
Ah, you're right.  I simply meant to point out was that even with username/password authentication, the handshake will give you an oauth_token, and should still work.  I'm using the exact same auth method you are, so it should be good.

[2015-02-19 19:24] bricesanchez opened #173 "Can't access to Restforce::Mash"
Hello,

I use restforce + active_force, my api_version is set to 33.0 and i not able to access keys on compound fields.

This is my error :

[code]

In the doc, i saw :

https://www.salesforce.com/developer/docs/api/Content/compound_fields_geolocation.htm

In API versions below 30.0, SOAP calls return compound geolocation field values as strings, instead of a structured data type, for backwards co

[2015-02-23 21:34] msreekm commented on #155
I don't think databasedotcom gem is maintained actively. I posted an issue/question and no response.Switched to restforce since then.,

[2015-02-25 19:13] theSteveMitchell commented on #164
use create! with the bang.  It'll raise the Salesforce error with validation message.

[2015-02-25 20:12] briandiaz commented on #164
Thanks Steve.
I will check it out.

[2015-02-25 21:06] bricesanchez commented on #173
Fix with this PR : https://github.com/ionia-corporation/active_force/pull/100

Thanks.

[2015-02-25 21:06] #173 closed

[2015-02-26 15:06] briandiaz commented on #164
Solved.
Thanks bro

[2015-02-26 15:06] #164 closed

[2015-03-18 02:09] calemyers723 opened #174 ".get method is not working"
Hello
I have tried to pull the data of my custom REST endpoints using .get method.

The source code is like this:
client = Restforce.new({
      oauth_token: 'oauth token',
      refresh_token: 'refresh token',
      instance_url: 'instance url',
      client_id: 'client_id',
      client_secret: 'client_secret'
    })
resp = client.get "services/apexrest/DaScoopComposer/GrooveLogCalendar?uid=NDg5

[2015-03-18 05:20] myorukoglu commented on #171
@theSteveMitchell Thank you for the insight!

[2015-03-18 23:53] theSteveMitchell commented on #171
@bvlaar Can we close this?

[2015-03-19 12:30] bvlaar commented on #171
Yes, this was a big help. Thank you!

[2015-03-23 16:29] curiousepic opened #175 "Reauthentication during client creation using wrong base URL?"
My Rails app is receiving `Faraday::ParsingError: 757: unexpected token at 'The URL has moved to <a href="https://www.salesforce.com/services/oauth2/token">https://www.salesforce.com/services/oauth2/token</a>` during `authenticate!` while constructing the client after `oauth_token` has expired.  Here's my client creation method:
[code]
My guess is that `authenticate!` is using `instance_url` when

[2015-03-25 00:44] muratonder opened #176 "Possible memory leak (growth) with Streaming API"
After running the client more than a day now with a simple subscription to a Push topic on Salesforce, just like the way in ReadMe, there is an increasing pattern in memory usage. Did anyone come across this issue? Below is the contents of the Gemfile, I'm running the client against Salesforce API version 32.0.

# Gemfile
source "https://rubygems.org"

gem 'cookiejar', :git => 'https://github.com/

[2015-04-01 18:20] jay-o commented on #169
Bump

I'm having the same issues over here. Our issue is only in our development and testing environments interacting with SFDC Sandbox. We'll be able to successfully connect, then in subsequent tries/calls it fails.
[code]

Any solutions out there?

[2015-05-05 03:31] theSteveMitchell opened #179 "Let's talk about how to support version guards/flags."
#178 #177 #172 #153 All add new features that aren't available in api version 26.0, and use different strategy to check api version

@paulnunnerley @zenchild
Can we talk about:

- [x] Should we change the default version? (26 is pretty old!) [solved - default to v33]
- [x] Standardizing the version check (I like @zenchild 's approach)
- [x] Standardize the error for failed version check
- [x] Vers

[2015-05-05 14:26] zenchild commented on #179
### Default Version
I'm in favor of updating the default version. At the moment **"29.0"** seems to be a good least-common-denominator. On a side-note, I have some uncommitted code for **api.rb** that will query the available versions.

### Version check
I like the version guard that yields the block. That makes error handling consistent for all versioning errors and you don't have a lot of begin/

[2015-05-05 14:47] theSteveMitchell commented on #179
@zenchild I added ruby version support also in the task list.  I Pretty much agree with you.  It looks like 29.0 came out in October 2013, so probably safe to change the default.  As far as ruby versions, I would support dropping 1.8 for sure.  For 1.9, maybe we can add an allow_failures section to travis so that users of 1.9 can still see the build status, but it won't block PRs.

[2015-05-05 14:53] paulnunnerley commented on #179
+1 for version check ala @zenchild

29 seems a reasonable place to take the version defalt, we've been running against v29 of the API for a few months in production with no issues.

I agree with @theSteveMitchell on the subject of 1.8 support. I don't care about supporting 1.8 but providing visibility of the build status against 1.8 should be valuable to people who do. This gives people the opport

[2015-05-05 19:14] daveespo commented on #179
I'll be the devil's advocate here:
 * Why not have the default be v33? Changing the default version could be a breaking change for some apps (i.e. all of a sudden new fields start appearing when retrieving SObjects (ex. Contact.LastViewedDate), and new standard SObjects are available too). So if this change to the default version is going out, why not shoot straight to v33? The only reason to pick

[2015-05-06 13:48] zenchild commented on #179
I'd be in favor of v33. I'm not all that worried about breaking apps. If there is potential for that it can be signified in the version. It's still backward compatible (unless Ruby 1.8 is thrown out) so a MINOR version increment should suffice as a warning.

I'm also fine to ditch the version_guard specific error but perhaps keeping the guard and emitting a warning that the version is not supporte

[2015-05-11 15:12] demonmind opened #180 "Return object instead of string"
Hi,

When i use `create` to create a lead or contact, it always returns just the Id of the entity being created. Is there a way to return the object with all fields so I don't have to make an extra request to get the other details I need to display?

[2015-05-11 16:42] antwonlee opened #181 "What's the real benefit of refresh token vs other methods of authenticating (username/password)?"
What's the real benefit of refresh token vs other methods of authenticating (username/password)?

[2015-05-11 21:15] demonmind opened #182 "Custom Fields not accessible"
When i use a custom fields i always get:
`Faraday::ResourceNotFound: NOT_FOUND: Provided external ID field does not exist or is not accessible: FieldName`

tried this:
`sf_account = house_client.select("Account", 'external_id', ['Id'], 'FieldName__c')`
`sf_account = house_client.find("Account", 'external_id', 'FieldName__c')`

[2015-05-13 18:54] antwonlee commented on #171
That's a significant enhancement in performance.  I am getting around 1000ms as well, and trying to look for cache solution.  I am going to try this and see if my app improves.  Thanks for the tip @theSteveMitchell

[2015-05-14 16:55] theSteveMitchell commented on #182
Are you trying to query by a custom field, or trying to query by Id, retrieving a custom field?

if it's the latter, you might want to try
```sf_account = house_client.select("Account", 'external_id', ['FieldName__c'])```

The third parameter is an array of fields to retrieve.  The fourth is an optional External_id field (so it lets you query BY this field, instead of the default Id column)

So to

[2015-05-14 17:37] theSteveMitchell commented on #171
@bvlaar can you close this?

[2015-05-14 17:58] theSteveMitchell commented on #181
by other methods, I'm assuming you mean username/password

Two main benefits that I see:
1. As demonstrated in #171, performance improves with refresh token auth, especially when the token can be cached.  Perhaps we should move that caching into Restforce.

2. Your application does not need the usename/password combination to authenticate, if it has instead a refresh token.  Consider my applicatio

[2015-05-14 18:10] theSteveMitchell commented on #179
+1 for v33 by default.

I would prefer to keep the version_guard and the Restforce::ApiVersionError.  For 2 reasons:
1. The errors that come back from Salesforce can be quite obscure.  I think it's very likely someone down the road will try to access e.g. query_all, not understanding they have set the api_version to an incompatible one.  Also, imagine an ideal world where Salesforce might remove s

[2015-05-14 19:57] #171 closed

[2015-05-15 02:30] antwonlee commented on #181
Thanks @theSteveMitchell, that was a great explanation.  As for #171 this was a great resource for me: https://www.youtube.com/watch?v=D5OsrRisNxA

[2015-05-15 12:31] demonmind commented on #182
Thank you for clarifying this. I ended up using the `.query` method and writing the SOQL query but this will be helpful in the future.

[2015-05-15 12:31] #182 closed

[2015-05-18 17:02] ArturT opened #184 "FaradayMiddleware::Instrumentation example doesn't work"
I have a problem with example for FaradayMiddleware::Instrumentation
https://github.com/ejholmes/restforce#loggingdebugginginstrumenting

[code]
There is no `FaradayMiddleware::Instrumentation` on the list.

I found different example for `faraday_middleware ` here https://github.com/lostisland/faraday_middleware/wiki#faraday_middleware-documentation where you can use `:instrumentation` but it didn

[2015-05-18 17:10] theSteveMitchell commented on #181
good to close this?

[2015-05-18 17:23] theSteveMitchell commented on #180
This isn't possible with Salesforce's api, without an extra request.
https://www.salesforce.com/us/developer/docs/api_rest/Content/dome_sobject_create.htm

The Salesforce create API only returns
[code]

So restforce would have to make a second request internally, which would be inefficient.  Besides, if you're creating the object, you should already have all the attributes locally.

[2015-05-18 19:23] demonmind commented on #180
Sounds good, thank you.

[2015-05-18 19:23] #180 closed

[2015-05-20 05:56] #181 closed

[2015-05-27 11:29] ArturT commented on #184
I figured it out. Example in read me should look like:

[code]

[2015-05-27 11:29] #184 closed

[2015-05-28 22:08] theSteveMitchell commented on #179
@ejholmes Any thoughts?

[2015-06-03 18:18] hoffmanilya commented on #36
@dougfarre - In case it still helps. Instead of caching the `Restforce::Collection`, turn it into an array of hashes and cache that. As so: `Rails.cache.fetch('key') { collection.map{|c| c.to_hash } }`.

[2015-06-07 03:18] imranansari commented on #169
Dang! this seems like a bad one, occurring it Production now.
Would love to hear if any one found a workaround.

[2015-06-09 19:00] jmagoon commented on #169
Had this error today and found [something that fixed it](http://stackoverflow.com/questions/12794302/salesforce-authentication-failing)

Going to connected apps in salesforce and changing 'permitted users' from 'Admin approved users are pre-authorized' to 'All users may self-authorize' immediately fixed it for me.

[2015-06-20 19:05] tomashn opened #187 "Exception no authentication middleware present"
Following the documentation, logging in using user:pass method, Restforce raises exception no authentication middleware present.

[code]

Why any middleware is expected for user/pass authentication? If any middleware is needed, let's mention it in docs.

[2015-06-20 20:12] #187 closed

[2015-06-20 20:14] tomashn commented on #187
Salesforce allows OAuth2.0 only. OAuth has user:pass flow. That's why security_token, client_idclient_secret are needed.

[2015-06-26 16:19] timrogers commented on #159
Fixed in https://github.com/ejholmes/restforce/pull/185 - this will get merged in the next day or two.

[2015-06-26 16:19] #159 closed

[2015-06-29 10:58] timrogers commented on #179
I'm a fan of the `version_guard` approach, so let's go for that. Makes it easy to standardise handling this problem. I'm also happy to jump to API version 33 by default, and would like to include this as part of 2.1 - we already need to bump since I'm going to change `PROXY_URI` to `SALESFORCE_PROXY_URI`.

I'd like to see @zenchild draft a readme for #178 and then we can get that merged, and then

[2015-06-29 14:52] #165 closed

[2015-07-04 15:19] bruceyue commented on #97
@sagittaros  Yes, I have the same issues, but I solved this with you way
Thanks

[2015-07-09 15:31] smzchaudary opened #194 "Restforce CometD connection degrades over time"
On my local development machine, I am seeing a stable CometD connection of about 1 minute between `COMETD UP` and `COMETD DOWN` messages.

As an aside, that seems very short to begin with.

However, after deploying to an ec2 instance in AWS, I am seeing that connection slowly degrade, eventually down to the connection being up for only 1-2 seconds.

[code]

Gemfile.lock relevant lines:
[code]

[co

[2015-07-09 18:54] smzchaudary commented on #194
Seems related to the newer versions of faye.
Rolled back down to `0.8.9` and the connections seems stable - and does not disconnect after an hour.
What is the status of https://github.com/ejholmes/restforce/issues/114? It says its open, and can be used against the master branch of `faye/faye` - but the commit in faye in question is available in `1.1.0` and `1.1.1` - and I have the same issues when

[2015-07-10 14:17] smzchaudary commented on #194
Giving a quick update: after rolling back to faye `0.8.9`, the connection is stable, and the last `COMETD UP` message was about 20 hours ago, and updates are coming through.

[2015-07-20 13:23] seanhandley opened #195 "Invoices & Other Entitites"
Any documentation on how you create other entities besides Accounts would be greatly appreciated.

The Salesforce documentation is tragically poor.

[2015-07-31 14:47] dlamichhane commented on #169
When you have to establish a Salesforce session several times then it is usually advantageous to use a single ton implementation.

[2015-08-13 22:26] alker7 opened #197 "client.limits returns an error"
I'm calling the limits method (*after setting client to version 32*) and get an error

`NoMethodError: undefined method `limits' for #<Restforce::Data::Client:0x007fddb4d874f0>`

    def get_sfdc_api_limits
      client = get_restforce_client
      org_describe = client.describe   # works
      api_limits = client.limits       # crashes
    end

[2015-08-19 07:24] techlunacy opened #199 "replace SALESFORCE_PROXY_URI with HTTP_PROXY ?"
A suggestion here i guess. would it be more standardized to try and reference the proxy environment variables such as HTTP_PROXY, HTTPS_PROXY etc to set the proxy_uri ?

[2015-08-19 10:03] timrogers commented on #199
I personally prefer a more specific environment variable name for consistency. Is there a standard for using one unified variable?

[2015-08-19 17:18] web-connect commented on #197
What version of the gem are you using? And do you have the SalesForce API Version set to 29 or higher?

[2015-08-19 17:20] web-connect opened #201 "Travis Build server is failing"
Root cause is unknown, however check this log for a start: https://travis-ci.org/ejholmes/restforce/jobs/76318616

[2015-08-19 18:53] timrogers commented on #197
Sounds most likely to be a gem version problem to me, as @web-connect suggests. Make sure you're using the latest version - or perhaps try including it from GitHub (it could be that the version with `limits` isn't on Rubygems).

[2015-08-20 00:34] alker7 commented on #197
Tim, you were right.
instead of
`gem 'restforce'`
I put
`gem 'restforce', git: 'https://github.com/ejholmes/restforce.git'`
to my Gemfile. This is resolved. Thanks

[2015-08-20 00:34] #197 closed

[2015-08-20 08:30] timrogers commented on #197
@alker7 No worries! I've just released a v2.1.1 now so you can start loading from Rubygems again.

[2015-08-26 17:03] ilyakatz opened #202 "Error while trying to subscribe to pushtopic"
When I use https://workbench.developerforce.com/streaming.php, I see the following error. However, using Restforce, this error doesn't seem to be captured. Is there a way to capture this error?

[code]

[2015-08-28 08:19] timrogers commented on #202
Thanks for the report Ilya. Do you know what HTTP status the error returns?

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Wed, Aug 26, 2015 at 6:03 PM, Ilya Katz <notifications@github.com> wrote:

[2015-08-28 15:08] ilyakatz commented on #202
Honestly, I couldn't figure out how this is triggered. I was digging around in the gem and it led me into faye code but I kind of got stuck. So if you could point me in the right direction, I'll be happy to play more

[2015-09-04 15:36] moskeyombus opened #203 "Client search method doesn't automatically escape SOSL reserved chars"
According to SOSL reference docs, search FIND clauses containing SOSL reserved chars need to be escaped: https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_sosl_find.htm

If I try to search for a Contact by email using the following query, I get nothing back:
`"FIND {test+email@test.com} RETURNING Contact (FirstName,LastName)"`

If I escape special chars in

[2015-09-07 08:26] timrogers commented on #203
Hmm, it's a difficult one - I'm sure where whether I think this should be
handled by the library or not.

@greysteil Would be interested to hear your thoughts when you have a second!

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Fri, Sep 4, 2015 at 4:36 PM, John Wnek <notifications@github.com> wrote:

[2015-09-07 08:34] greysteil commented on #203
Is there any value in letting the unescaped string through? If you don't escape a `+` for example, what does it do? If the answer isn't "nothing" then I wouldn't handle this in the library.

[2015-09-07 08:53] timrogers commented on #202
I'm afraid I'm not too familiar with the Faye part of the library so I'm not the best person to ask - but I'll try to take a look later on today.

@ejholmes Any expertise on this?

[2015-09-07 15:54] greenmindPDX commented on #194
@smzchaudary thanks for reporting on this! I just stumbled on the same problem with faye version 1.x, and reverting to faye `0.8.9` made all the difference.

[2015-09-08 20:01] githoov opened #204 "Update to Lead seems to Inadvertently Change OwnerId"
The following call changes the owner_id:
[code]
![image](https://cloud.githubusercontent.com/assets/2467394/9745929/875c083a-5629-11e5-94fe-bc74ca7336ca.png)

I'm not sure if this affects other SFDC objects or non-custom fields, but this seems unusual. Note, that a manual change in Lead record does not exhibit the same behavior.

[2015-09-09 09:02] timrogers commented on #204
That shouldn't be happening, and it definitely doesn't occur where we're using the library in production. I wonder if it could be some kind of setting on your account? It might be worth asking Salesforce I reckon as the code you're using won't be changing it.

[2015-09-09 14:32] githoov commented on #204
That must be it. Thanks @timrogers!

[2015-09-09 14:32] #204 closed

[2015-09-11 13:52] moskeyombus commented on #203
Ah good call, for some reason I thought the search endpoint wasn't actually using those special characters but I misunderstood the responses I was getting.  Thanks!

[2015-09-11 13:52] #203 closed

[2015-09-14 20:50] bpirtle opened #205 "Using a proxy - HTTP Proxy String format in docs"
I needed to use a proxy for the API calls, and I noticed the docs say: "This paramter also will accept 'http://user@password:proxy.example.com:123' or using the environemnt variable PROXY_URI."

This actually didn't work due to malformed URI (Crashed), but I looked up http proxy string formatting, and this does work: 'http://user:password@proxy.example.com:123'

Just thought I'd let you know in ca

[2015-09-15 22:16] bpirtle opened #206 "Using a proxy - HTTP Proxy String format in docs"
I needed to use a proxy for the API calls, and I noticed the docs say: "This paramter also will accept 'http://user@password:proxy.example.com:123' or using the environemnt variable PROXY_URI."

This actually didn't work due to malformed URI (Crashed), but I looked up http proxy string formatting, and this does work: 'http://user:password@proxy.example.com:123'

Just thought I'd let you know in ca

[2015-09-15 22:17] #206 closed

[2015-09-15 22:17] bpirtle commented on #206
This was a mistaken duplicate of #205

[2015-09-18 14:05] smzchaudary commented on #194
@greenmindPDX glad downgrading worked for you.

I tried looking at the project README and documentation, but I don't see any caveat that the version of faye needs to be `0.8.9` - I think thats a pretty important omission due to the fact that subscribing to push topics will simply not work `out of the box` with  the latest versions of faye.

[2015-09-22 17:43] greenmindPDX commented on #194
@smzchaudary :+1:

I would agree that this should make it into the README. It may be that users aren't using the streaming API that much, or that streaming is working just enough of the time in later versions of Faye to be ignored. I had some connectivity with later versions, but `0.8.9` is bombproof.

[2015-09-23 08:25] timrogers commented on #194
I'm open to putting this in the README. Do one of you guys want to make a
PR?

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Tue, Sep 22, 2015 at 6:43 PM, Greg Robillard <notifications@github.com>
wrote:

[2015-09-23 16:22] smzchaudary commented on #194
@timrogers OK, PR created - https://github.com/ejholmes/restforce/pull/207.

[2015-09-23 16:59] #194 closed

[2015-10-01 17:24] cworsley4 commented on #169
+1. Same issue.

[2015-10-02 14:01] kouno opened #208 "Parse body only if response header specify it"
I'm using a custom APEX REST endpoint and when this endpoint validation fails, it returns a 500 and the body is a simple string.

It looks like Restforce is not checking the `Content-Type` header before parsing the body:

https://github.com/ejholmes/restforce/blob/66ef4acdd0517e7b31a4105af242c1948723157f/lib/restforce/middleware/raise_error.rb#L23

[2015-10-06 03:54] Aupajo opened #209 "Using middleware during authentication"
I'd like to attach middleware during authentication, but `Restforce::Middleware::Authentication` [establishes its own, separate Faraday connection](https://github.com/ejholmes/restforce/blob/7114ac9e5affba05253f22ad06fb339f6ceada0b/lib/restforce/middleware/authentication.rb#L45-L57).

Would like to help out with this. Would anyone be able to explain why this is currently done this way?

[2015-10-07 09:36] timrogers commented on #209
I'm afraid I'm not sure - maybe worth experimenting with? @ejholmes might have more context as the original author.

[2015-10-07 09:37] timrogers commented on #208
Good spot Vincent. Feel free to write a PR with specs to fix this!

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Fri, Oct 2, 2015 at 3:01 PM, Vincent Bonmalais <notifications@github.com>
wrote:

[2015-10-07 09:58] kouno commented on #208
Ahah, I swear, that's on my plates :).

[2015-10-07 22:41] Aupajo commented on #209
My guess is its to get around the problem of having other middleware (such as the RaiseError middleware) interfere with the reauthentication attempt.

[2015-10-09 04:19] sonumahan opened #211 "fieldsToNull"
Hello All,

How to pass null fields using "fieldsToNull" for any object

Thanks

[2015-10-09 08:40] timrogers commented on #211
Have you tried just setting the field to `nil` in the normal way?

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Fri, Oct 9, 2015 at 5:19 AM, sonumahan <notifications@github.com> wrote:

[2015-10-27 23:10] DavidVII commented on #169
:+1: looks like this is just a SF issue.

[2015-10-30 07:53] andreimoment opened #213 "Question: best practices for initialization in rails?"
I am using restforce to query SF information in conjunction with registration form pre-population and registration. I use username/password authentication as I don't have a need for authenticating users -- all I need is SF query/updates.

I read the warning about thread safety and am wondering what is the best way to initialize the client in a case like mine? Currently I initialize a new client wi

[2015-11-02 13:41] #208 closed

[2015-11-06 10:07] nicolas-besnard opened #214 "Get Salesforce raw response"
Is there a way the get the response from Salesforce ? I'll need it for my log

[2015-11-06 22:12] russorat commented on #109
@braidn did you resolve this issue? Mind sharing the code you came up with?

[2015-11-06 22:37] timrogers commented on #214
Not sure off the top of my head - you’ll need to delve into the code! Happy to take a look if you get stuck.

[2015-11-07 15:54] nat opened #215 "Question: Are there more-verbose log levels than :debug?"
With log_level set at :debug, when I am trying to create a particular object in salesforce, I am merely receiving a response of "false". Thus, I cannot tell what is causing the creation issue (e.g: is there a required field I'm missing, is a key wrong, etc..).  Is there a symbol I can use to set the log-level more-verbosely or other method so I can see the error details?  Thanks!

[2015-11-07 17:14] timrogers commented on #215
Have you tried using the bang (`!`) methods? From memory, they provide
exceptions with more specific details. If you look at how those exceptions
are generated (check the middlewares, from what I remember), you might be
able to add some code that improves the `:debug` logging with a quick PR.

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Sat, Nov 7, 2015 at 3:54 PM, N Wharton <noti

[2015-11-07 17:17] nat commented on #215
I haven't tried them - I will try on Monday! Thank you!

[2015-11-07 18:03] nat commented on #215
It worked - thank you!

[2015-11-07 18:03] #215 closed

[2015-11-09 15:58] web-connect commented on #214
@nicolas-besnard You can log what is sent to Salesforce, and what is received from Salesforce by enabling logging. Please check this section of the Readme: https://github.com/ejholmes/restforce#loggingdebugginginstrumenting

[2015-11-11 15:39] web-connect commented on #205
Thanks @bpirtle, pull request has been created.

[2015-11-11 16:22] theSteveMitchell commented on #179
I think we've wrapped this up.  Thanks all!

[2015-11-11 16:22] #179 closed

[2015-11-16 14:55] nicolas-besnard commented on #214
As I'll synchronise my local DB with Salesforce, I've develop a system that will do a bulk request each X mins. I just need the API's response to add it on my dashboard.

Then, I'll be able to detect bulk fail easier.

[2015-11-16 21:36] standingwave opened #218 "Trigger sending of email in Salesforce"
Sorry if this isn't the right place to ask this but I've used the gem a bunch and done quite a bit of research and I haven't been able to find a lead on how to do this, assuming it's possible.

Is there a way to trigger the sending of an email within Salesforce using Restforce? There's an existing email template that is being used and I want that to all happen as if the email had been sent manuall

[2015-11-17 20:31] timrogers commented on #218
Have you had a look in the Salesforce docs? The first step would be to identify the relevant API.

[2015-11-20 16:26] vincenzor opened #219 "API_DISABLED_FOR_ORG: The REST API is not enabled for this Organization."
Hi,

We give the possibility to our customers to connect their Salesforce account with our app.

One of our customer always get this error:
API_DISABLED_FOR_ORG: The REST API is not enabled for this Organization.

Do you have any idea to fix this?

[2015-11-22 02:42] sb8244 commented on #135
@kris-luminar solution worked for me. It's still an existing issue.

[2015-11-25 09:35] timrogers commented on #219
You’ll need them to contact Salesforce - I think the API is usually a paid feature.

[2015-11-25 10:18] vincenzor commented on #219
OK, I'll try to do that. Thank you!

[2015-11-25 10:18] #219 closed

[2015-11-26 21:49] malclocke commented on #136
I think this is fixed by #124 which was included in restforce v2.1.2, so this can probably be closed.

I can confirm a similar problem using restforce v1.4.3 which seems to have been fixed upgrading to v2.1.2.

[2015-11-29 03:35] antwonlee commented on #195
Salesforce actually has great documentation :grinning:

You can query or create by the Salesforce Object API name and fields you created in that object.

```client.create('Object_Name__c', FieldName: 'Foobar Inc.')```

[2015-11-30 06:09] seanhandley commented on #195
Thanks @antwonlee. The trouble is knowing ahead of time what the objects and fields are going to be called.

I've found you can create invoices as follows:

[code]

Using `create!` with a bang has been a godsend in figuring out which fields are missing, though not always what the data type is prepared to accept.

[2015-12-14 23:30] huwd opened #221 "Errno::ENAMETOOLONG when calling client.describe_layouts('Object_name','Record Type')"
Hey,

I keep getting an error when calling `client.describe_layouts('Object_name','Record Type')`... not sure if there's a limit to the method that i'm not seeing?

`Errno::ENAMETOOLONG: File name too long @ rb_sysopen - /home/ubuntu/workspace/myapp/tmp/cache/%2Fservices%2Fdata%2Fv34.0%2Fsobjects%2FMy_Object__c%2Fdescribe%2Flayouts%BLAHBLAHBLAHBLAHBLAHBLAH%BLAHBLAHBLAHBLAHBLAHBLAHETCETCETCETCETC-e

[2015-12-14 23:34] huwd commented on #152
This has been resolved in the last year, there are now no warnings and only 2 convention warnings. It seems @timrogers added RuboCop six months ago and most violations have since disappeared.

[2015-12-14 23:34] #152 closed

[2015-12-28 19:54] ilyakatz commented on #202
@ejholmes any pointers on this please

[2015-12-29 09:28] timrogers commented on #202
@ilyakatz Maybe check this out: <https://github.com/faye/faye/blob/master/lib/faye/protocol/client.rb#L81> - looks promising to me.

[2015-12-29 15:12] ilyakatz commented on #202
ah, i'll give this a try (after I get my work done and then I can force Salesforce to max out on my quota :) )

[2015-12-29 16:47] ilyakatz commented on #202
Ok, I found at least one solution that involves no code changes (just the docs)

[code]

It does take a long time to get this message, there must be a timer somewhere. I can create a PR to update the docs

[2016-01-07 04:41] antwonlee commented on #213
@andreimoment would this not work for you? https://github.com/ejholmes/restforce/issues/171

[2016-02-02 06:34] kaptron commented on #67
I know this is an old comment but I just ran into a similar issue. The fix for me was to remove the `mashify` option from my Restforce client. I'm not sure if using mashify (the default) to convert objects into `Restforce::SObject` and `Restforce::Collection` causes it to hit Salesforce with additional requests, but it almost seems like this might be the case? Anyway, for me, setting `mashify: fal

[2016-02-03 19:55] yuuki1224 commented on #169
`Restforce::AuthenticationError: invalid_grant: authentication failure`
I've also soled this problem by relaxing the IP restriction on admin view.
See: [this post on SalesForce forum](https://developer.salesforce.com/forums/ForumsProfile?communityId=09aF00000004HMG&userId=005F0000006MeGZ&showHeader=false)

[2016-02-09 18:40] nrowegt opened #224 "#upsert! TypeError: no implicit conversion of String into Integer"
upsert! fails at lib/restforce/concerns/api.rb:347 with the above error message. Line in question:
```(response.body && response.body['id']) ? response.body['id'] : true```

[code]

Ruby 2.3.0 running on Heroku pointing to production salesforce, API Version 35.0. Passes fine running locally pointing to test.salesforce.com.

[2016-02-09 18:55] theSteveMitchell commented on #224
response.body should be a hash, but that error means response.body is probably an array.  If it's working with test salesforce, but not for production, I'd guess it could be an error message.  Could you put a pry in there to inspect the response?

[2016-03-15 16:12] michaelminter commented on #224
Looks like `response.body` is an array of conflicting Salesforce IDs. Including those in an error message would be helpful.

[2016-03-15 16:17] michaelminter commented on #224
[code]

[2016-03-15 16:26] timrogers commented on #224
Looks like useful information @michaelminter - would you consider putting
in a PR?

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Tue, Mar 15, 2016 at 4:17 PM, Michael Minter <notifications@github.com>
wrote:

[2016-03-15 16:37] michaelminter commented on #224
@timrogers I'll add a PR soon with better support for this issue.

[2016-03-16 13:18] timrogers commented on #221
@huwd Sorry - I missed this one! Did you work out what was going on here?

[2016-03-16 13:19] timrogers commented on #224
It'd be good to have an example of the response you get back here - want to make the resolution to this make as much sense as possible, and make sure I properly understand what I'm getting back.

[2016-03-16 13:22] timrogers commented on #221
@huwd The "cache key", which here is too long, is generated by https://github.com/lostisland/faraday_middleware/blob/master/lib/faraday_middleware/response/caching.rb#L61. Clearly it's ending up being too long - maybe we could make the key more sensible somehow - but there appears to be a broader problem if it's ignoring `without_caching`. Have you done any more investigation?

[2016-03-16 13:26] timrogers commented on #221
I've made an issue at https://github.com/lostisland/faraday_middleware/issues/132 too.

[2016-03-16 14:45] michaelminter commented on #224
This is what appears in the `response.body`:

[code]

[2016-03-16 15:52] #224 closed

[2016-03-22 18:20] cworsley4 commented on #201
Close?

[2016-03-22 19:38] web-connect commented on #201
Closing.

[2016-03-22 19:38] #201 closed

[2016-03-22 20:19] tmac commented on #169
For me the restforce documentation was wrong. I had to remove the security token option for it to work. So instead of:

[code]

it's

[code]

[2016-03-23 11:23] timrogers commented on #169
@tmac Interesting! In the documentation it says that now you have to append the security token to the password - but we're definitely providing them separately. I'll leave the documentation for now until we find out some more.

[2016-04-04 11:11] #195 closed

[2016-04-04 12:16] seanhandley opened #231 "Download Sales Invoice PDF Data"
I'm trying to get a copy of the invoice PDF data via the API. Not having much luck (though I can get the invoice data itself via `c2g__codaInvoice__c`).

Any ideas?

[2016-04-05 15:46] #231 closed

[2016-04-12 15:09] kimyu92 commented on #213
@antwonlee I am curious about is there any consequences or effeciency difference of only initializing once and then use it as long as I want
[code]

[2016-04-18 13:24] huwd commented on #221
Hi Tim,

My apologies for letting this slide, I did end up removing restforce caching from where i define `Restforce.new` which does prevent the issue cropping up. Not as massive problem as I'm still not making much of a dent in my daily limits, but I guess caching would be nice to re-enable at some point.

What am I doing to be getting this problem? I can't be the only restforce user trying to ca

[2016-04-18 17:25] timrogers commented on #221
The issue is to do with the generated cache key being too long - my guess is you're passing quite long parameters to `#describe_layouts` which are used to generate the key, and this causes the problem.

One solution that would probably work is using a different caching engine - see https://github.com/ejholmes/restforce#caching. At the moment, it's trying to store in a file with a name that's too l

[2016-04-19 01:22] antwonlee commented on #213
@theSteveMitchell explains it well here: https://github.com/ejholmes/restforce/issues/171#issuecomment-74299774 I think.  Using memoization to your oauth token will improve any requests after the initial request.  At least it did improve the app I was working on.  @kimyu92 Have you tried any tests to see improvements on your app?

[2016-04-19 18:42] kimyu92 commented on #213
@antwonlee It works but I am unsure whether I actually need to cache the oauth token since memoizing client works great for me and I did not realize changes made on the oauth token, even if it expired, it would re-authenticate anyway right? Correct me if I'm wrong

[2016-04-19 19:17] antwonlee commented on #213
Yeah, I think you are right @kimyu92, even expired it will re-authenticate with your username and password and it will fetch the new oauth token.

Back to the original question, I do wonder how @andreimoment approached his question.

I think it will be good to have an example in README to have thread safe and optimized way of initializing the client.

[2016-04-19 19:47] theSteveMitchell commented on #213
@kimyu92 There is a fairly simple way to test the performance improvement.  In Rails console:

Control Test:
[code]

Cache Test 1:
[code]

Cache Test 2:
[code]

In Cache test 1, you'll see that Restforce still needs to make 2 requests on the second query, because it needs to know the instance URL to query.  In Cache test 2, it will make only a single request for the second query.

In #171 my answe

[2016-04-19 21:19] kimyu92 commented on #213
Great summary at the end 👍

@theSteveMitchell thanks again for your insightful explanation!

[2016-04-20 08:32] timrogers commented on #213
Kudos to @theSteveMitchell for the above :heart: I'm going to close this now - feel free to add a comment about caching/memoisation in the readme!

[2016-04-20 08:32] #213 closed

[2016-04-21 17:14] JSFernandes commented on #169
I just spent a couple of hours dealing with this issue and I can confirm that I was unable to authenticate until I removed the `SALESFORCE_SECURITY_TOKEN` from my environment variables and appended the token to the password set in `SALESFORCE_PASSWORD`

[2016-04-21 17:30] timrogers commented on #169
Strange. I'm definitely not doing that with out Salesforce instance - perhaps it's a different version or something like that.

Would you like to add a note to README.md? Thanks for taking the time to debug!

Sent from my iPhone

[2016-04-21 17:38] JSFernandes commented on #169
Will do, but can you confirm the API version that you're using? I'm using version 36 and didn't try any other version. Perhaps we can pinpoint which versions require this approach and be specific about that in the README.

[2016-04-21 17:44] tmac commented on #169
I can confirm this with both the default version (28 I think?) and 32 which I'm currently using.

[2016-04-21 17:53] tmac commented on #169
It's probably worth noting that so far I've only tested against our sandbox. Is it possibly different in production?

[2016-04-21 17:58] JSFernandes commented on #169
After some more testing I discovered that this was partially my fault. Here's what happened:

- Initially I was testing with a typo in my username
- I didn't notice the typo, thought it was related to the security token and thus appended the token to the password, as salesforce suggests
- I was still unable to authenticate, eventually noticed the typo in the username and corrected it. Was still un

[2016-04-21 18:02] timrogers commented on #169
🎉🎉🎉 Great work!

Sent from my iPhone

[2016-04-23 00:43] jonathan-upstart commented on #169
I'm having this problem as well. It's sporadic, but about 4-10% of the time I get authentication errors:

[code]

I tried removing the `security_token` field and appending the security token to password, but I still got intermittent authentication failures. I also tried increasing the version to 36, with no luck. Any advice?

[2016-04-25 16:53] silkcom opened #234 "bad argument (expected URI object or URI string)"
I'm running in rails console with the following code:

    client = Restforce.new :username => 'RANDOM@EMAIL.sandbox', :password => 'my password', :api_version => "34.0"
    client.describe

and I get the following error:

ArgumentError: bad argument (expected URI object or URI string)
        from /usr/local/rvm/gems/ruby-2.2.1/gems/faraday-0.9.2/lib/faraday/utils.rb:260:in `URI'
        from /us

[2016-05-03 15:18] OddEssay commented on #234
I've hit this exact problem - It's unclear if this is an actual bug, or perhaps there are some assumptions in the usage that aren't clearly documented in the README?

[2016-05-04 10:01] timrogers commented on #234
Have either of you had a chance to do some digging into this? I think it'll
be quite easy to find the cause with some digging into the stack trace, but
I'm a little busy right now.

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Tue, May 3, 2016 at 4:18 PM, Paul Bennett-Freeman <
notifications@github.com> wrote:

[2016-05-06 20:11] lcpriest commented on #234
I had this issue unless I included the instance_url.

[2016-05-06 21:57] jeremymburton opened #235 "get_updated() always returns Faraday::ResourceNotFound: NOT_FOUND: The requested resource does not exist"
I am able to retrieve objects and can see their LastModifiedDate using find(), etc.

However, If I call get_updated(), specifying a date range that includes objects that I know to be in that range, it always returns:

Faraday::ResourceNotFound: NOT_FOUND: The requested resource does not exist

Full trace:
[code]

[2016-05-06 23:09] jeremymburton commented on #235
Update:
It was an API version mismatch.

However, there is still the issue that this should be raising APIVersionError if you're using a version the API that doesn't support get_updated() rather than NotFound (although I'm guessing it's Salesforce itself that is at fault here).

[2016-05-12 03:07] antwonlee commented on #234
Perhaps the Readme can be updated?  I get similar errors when run in console.

[2016-05-12 07:28] timrogers commented on #234
Fancy tweaking it for yourself in a PR? 👌

Sent from my iPhone

[2016-05-12 19:20] voodoologic commented on #234
I added 'https://'  to the url string and that solves the issue for me.

[2016-05-15 21:55] antwonlee opened #236 "Demo App"
Hey @timrogers I am making a demo Rails app with Restforce.  Perhaps I thought it will be a good resource for people who are trying to use the gem.  Sometimes code is better than README files.  Here is the repo: https://github.com/antwonlee/restforce_demo_app  I just started working on it whenever I got some free time.  I will create a pull request adding it to README when its done.

It will have

[2016-05-17 15:36] kris-luminar commented on #236
Seems like a very useful project. I would have used it when I began using Restforce if it had existed.

[2016-05-17 15:40] kris-luminar opened #237 "Replay PushTopic Streaming Events (Beta)"
SalesForce has a new feature for PushTopics that will allow replaying events that where missed by clients.
https://developer.salesforce.com/docs/atlas.en-us.api_streaming.meta/api_streaming/replay_pushtopic_events.htm

My team thinks that this feature only exists in version 36 of SalesForce's API.

This feature would be very helpful for my team. Are there any plans to support this new functionalit

[2016-05-23 00:45] antwonlee commented on #236
Awesome, I think there are few demo apps out there already—but I think I will document better and have basic CRUD functions for Accounts, Contacts, Opportunities, and Leads.  :sunglasses:

[2016-05-24 13:52] samlehman opened #238 "Salesforce disabling TLS 1.0, is Restforce compatible with TLS 1.1 or 1.2?"
https://help.salesforce.com/apex/HTViewSolution?urlname=Salesforce-disabling-TLS-1-0&language=en_US&

[2016-05-24 13:59] kris-luminar commented on #236
💯

[2016-05-25 18:12] #236 closed

[2016-06-01 02:54] antwonlee commented on #238
Does TLS have to do more with updating the browser and your https SSL protocol support?  The Heroku SSL at least says it supports TLS 1.0, 1.1, 1.2  https://devcenter.heroku.com/articles/ssl-beta#ssl-details

[2016-06-01 16:48] theSteveMitchell commented on #238
Restforce relies on Faraday, which supports multiple HTTP Adapters.  It will use Net::HTTP by default.

According to this SO answer, TLS 1.2/1.1 is supported in Nett::Http in Ruby 2 +, not in 1.9.3. http://stackoverflow.com/questions/11059059/is-it-possible-to-enable-tls-v1-2-in-ruby-if-so-how

If you're using another adapter, like Typhoeus, SSL is handled by Libcurl (should be fine).

I recommend

[2016-06-10 07:45] borglin opened #242 "Supporting Batch Requests"
Are there support for [Batch Requests](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/requests_composite_batch.htm) or any plans for adding support for it?

[2016-06-10 09:09] timrogers commented on #242
We don't support it at the moment, but you'd be welcome to add support and make a PR.

[2016-06-12 19:13] gaiottino commented on #242
I'm working on an implementation here: https://github.com/gaiottino/restforce/tree/batch_api

[2016-06-22 17:26] austinwang commented on #214
I would also like to have the raw response. I can't figure out why but the the collection object returned is much slower to work with than a regular hash/array. For particularly large queries, iterating through/mapping results (2000) and subqueried results (50 each) can take 20+ seconds (Compared to using a raw response taking <.5 seconds). Even getting a count of the collection result can take se

[2016-06-27 08:37] timrogers commented on #214
Sounds good to me! Feel free to make a PR to add that. Before I merge, I'll
have a big more of a dig and think to try to understand any reasons why
that might be a bad idea...

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Wed, Jun 22, 2016 at 6:26 PM, Austin Wang <notifications@github.com>
wrote:

[2016-06-27 14:34] bvlaar commented on #238
This weekend some Sandbox orgs were updated to[ require TLS 1.1+](https://help.salesforce.com/apex/HTViewSolution?id=000221207#Whatischange).

I'm using `Restforce v2.2.1` and `Ruby 2.0.0`. All of my requests are returning the following message this morning:

```Faraday::ClientError (UNSUPPORTED_CLIENT: TLS 1.0 has been disabled in this organization. Please use TLS 1.1 or higher when connecting to

[2016-06-29 04:05] Shwetakale commented on #234
@timrogers I am using ```restforce```  version ```2.1.0``` and I don't see this issue. I followed steps specified in above issue.

(here)[https://github.com/ejholmes/restforce/blob/master/lib/restforce/concerns/base.rb#L64] if instance_url is not present then authentication is done and instance_url is set on the client.

But if ```client_id``` and ```client_secret``` are ```nil``` then that produc

[2016-06-29 04:37] Shwetakale commented on #235
@jeremymburton You are right. This error is coming from salesforce as against that version api does not exist. So I don't think ```APIVersionMismatch``` can be raised when such type of error occurs.

[2016-06-29 19:08] bvlaar commented on #238
For anyone else that experiences the same issue, any version of Ruby > 2.0.0 includes TLSv1.1+. My fix was as simple as upgrading my Ruby version.

[2016-06-30 08:37] veelenga commented on #238
Successfully made it to work with [Typhoeus](https://github.com/typhoeus/typhoeus) and ruby 1.8.7. Short sample:

[code]

[2016-07-05 20:46] CarlosLCervantes opened #243 "The external ID provided matches more than one record"
Since updating to the new version I am seeing many "The external ID provided matches more than one record" when using `upsert`.

Example of how I am using upsert. Which runs whenever my User model is changed.

[code]

Since I am using upsert. It shouldn't be possible to created multiple Leads on Salesforce with the same email. Any ideas?

[2016-07-06 08:40] timrogers commented on #243
Sounds like a Salesforce issue rather than a Restforce one! What happens if
you query for Lead records with one of these emails?

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Tue, Jul 5, 2016 at 9:46 PM, Carlos Cervantes <notifications@github.com>
wrote:

[2016-07-07 08:31] thbar commented on #176
I'm starting to use the streaming API. Did you end up understanding what happened here? Thanks!

[2016-07-07 08:36] thbar opened #244 "Recommended way to handle errors when using streaming?"
Hi! I'm starting to use streaming in an eventmachine process. Is there a way to intercept unhandled errors (such as a salesforce refresh token invalidated during the connection) on my side, to implement custom logic? Should I hook into the faye client directly?

Thanks for any guidance you'll be able to provide.

[2016-07-07 11:00] timrogers commented on #244
Afraid I've never used the streaming API so I'm not too sure. Might be
worth seeing if anyone else has had a use for it who can offer any ideas,
or you could try contacting people who've previously posted
streaming-related issues.

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Thu, Jul 7, 2016 at 9:36 AM, Thibaut Barrère <notifications@github.com>
wrote:

[2016-07-11 17:59] CarlosLCervantes commented on #243
I'm only seeing this for a handful of users which makes me think there is some user error from the sales team involved.

I've confirmed that I can call `upsert!` multiple times, on a newly created user, and it will work as expected. I was trying to query Salesforce to confirm that manual duplicates have been created. But, none of my queries were working. All three of these queries return no result

[2016-07-19 09:57] Sashkan opened #248 "Salesforce Sync Authentication"
Hello,

I'm still pretty new to Salesforce, I'm trying to implement a way to create/edit my Salesforce objects whenever the matching objects are modified within my app.

So far, I created a connected app, retrieved my ```client_id``` and ```client_secret``` , got my ```security token```, my ```username``` and my ```password```.

This:

[code]
seems to work, but this:
[code]
Gets me this:
[code]

D

[2016-07-19 10:18] Sashkan commented on #248
Ok, I found it 2 minutes after I stumbled upon this error: all you ahve to do is make sure you selected ```"All users may self-authenticate"``` in your connected app settings

[2016-07-19 10:18] #248 closed

[2016-07-21 09:44] Sashkan opened #249 "Enter a variable in a query ?"
Hi ! Thanks for the gem.

I've been trying to code a rake task to check if all my users were registered as SF contacts, but I'm struggling with the variable.

Basically, the idea is
[code]

But this will look for "u.email", not for the variable.

How can I include the user email in the query ?

[2016-07-21 09:52] timrogers commented on #249
In Ruby, interpolation of a variable into a string only works in double quoted strings, and looks like `#{variable}` - so here's an example:

[code]

[2016-07-21 10:08] Sashkan commented on #249
Didn't work, instead it got me this error :
[code]

[2016-07-21 10:37] Sashkan commented on #249
Ok, I found a solution :
[code]
Unfortnuately, if the email includes a ```-```, it stops on this error :
[code]

Any idea how to escape this behaviour ?

[2016-07-21 11:16] timrogers commented on #249
That'll be a SOQL problem - best off looking at the Salesforce docs!

[2016-07-21 11:39] rajcybage opened #250 "Faraday::ConnectionFailed: An established connection was aborted by the software in your host machine."
I got all columns

by

[code]

but

got error

[code]

[2016-07-21 15:33] adriantoman commented on #238
So I have encounter same problem few weeks back and I was forced to update the middleware/authentication.rb in this way:

from:
[code]
to:
[code]

Then you can use something like this:

[code]

[2016-07-27 08:53] Sashkan opened #252 "Define client ?"
Hello,

That might sound stupid, but, where's the best place to define the client ?

The wiki just mentions a
[code]

I would like to set it globally accross my app, but setting it in ApplicationController doesn't seem to work. So far I set it in every controller everytime I need it, but is there a way to set it as a global variable?

Thanks

[2016-07-27 09:29] timrogers commented on #252
@Sashkan What's going wrong when you try to set it in `ApplicationController`? That should work.

You have two options for global configuration - you could set it in an initializer (see https://github.com/ejholmes/restforce#global-configuration) or you could use environment variables (see https://github.com/ejholmes/restforce#usernamepassword-authentication). Once the client has been globally conf

[2016-07-27 09:30] timrogers commented on #252
(To be clear, I'd probably advice using global configuration - it's a better option for your use case)

[2016-07-27 13:10] Sashkan commented on #252
Thanks ! Worked just fine. One last question if I may: I managed to use all of the functions for basic functionnalities (create, destroy, update, etc..). However, is there a way to see the possible arguments/options related to a model ?)

I.E, my Opportunity model got Contacts. On my Salesforce Dashboard, I can see the "Contact Roles" tab on the right. From here, I can add contacts to my opportuni

[2016-07-27 13:14] timrogers commented on #252
I'm afraid I'm not sure - probably the Salesforce API documentation is the
right place to look

--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

On Wed, Jul 27, 2016 at 2:10 PM, Oliver Tran <notifications@github.com>
wrote:

[2016-07-28 20:34] bitops commented on #169
Same issue. Tried all of the fixes in here on Tuesday and it worked. Now it's Thursday and it's not working again. Really weird.

[2016-08-03 11:51] lubieniebieski commented on #169
worked for me: I had to "unlock" the user manually - I went to user/edit and there was an "unlock" button available. 1 click and no more errors:)

[2016-08-04 00:16] theog opened #253 "upsert on update not returning Id"
An upsert using this library will only return bool value on an update. When using an external ID as a reference to the SalesForce record, it would be very useful to have the Id returned regardless of create or update would save an additional call to obtain the record. SalesForce REST API docs returns the Id.

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_upsert.htm

[2016-08-04 07:28] timrogers commented on #253
This makes sense to me. Do you want to make a PR? I might not merge it in for a while as it'll be a breaking change.

[2016-08-05 21:38] DNeier opened #254 "Bad value for restricted picklist field when picklist value has a single quote"
Trying to update an SObject picklist field that has defined answers with single quotes and I am getting an error.

[code]

It looks like something weird is going on with encoding the single quote, not 100% sure this is an issue with this gem or maybe with the SalesForce API in general.

Here's the output of with debug turned on, some of the information is anonymized.

[code]

[2016-08-08 16:13] DNeier commented on #254
Never mind, this was related to configuration. Not a real issue.

[2016-08-08 16:13] #254 closed

[2016-08-11 14:13] shadowbq commented on #234
@Shwetakale What is specified? The client_id and client_secret are not explained.

[2016-08-11 14:27] shadowbq commented on #234
#        :client_id               - The oauth client id to use. Needed for both
      #                                   password and oauth authentication
      #        :client_secret           - The oauth client secret to use.

These should be explained on the README.

Client vs Connected App.. Are these the same?

To connect to Salesforce you need to define a Connected App in a Salesforce acco

[2016-08-15 08:39] timrogers commented on #234
@shadowbq Do you want to make a PR adding something useful to the README?

[2016-08-17 21:57] lashdav commented on #169
I'm experiencing a similar issue -- successfully authenticate via CURL, but when I try to use this gem I am not getting an access token. Followed all the tips out there in order to get the CURL command to work correctly (relaxed IP restrictions, all users may self authorize).

With restforce (using the username/pw auth flow) I have tried concatenating my security token to my password, keeping the

[2016-08-18 07:26] timrogers commented on #169
Hi David! It might be worth getting in touch with Salesforce - it's
presumably something account specific that is breaking this as it's still
working fine for us in production (and others using the gem).

It might be worth following through the authentication logic (starting in
https://github.com/ejholmes/restforce/blob/master/lib/restforce/concerns/authentication.rb,
and going through some middle

[2016-08-25 14:07] jhelbig opened #255 "Document Body retrieval errors with Rails 5.0.1"
Running into an issue where I am unable to retrieve the raw output of a document via 'Body' attribute.

I have a hunch that it's something with Faraday, but it's completely a guess at this point.  Plan on digging down into the modules today to get this figured out.

[2016-08-25 14:59] jhelbig commented on #255
I am completely wrong.  Switched to a different dev branch of my project and the Gemfile was installing a specific version of this gem that did not include the document class.

Updated the Gemfile and rebuilt without issues.

[2016-08-25 14:59] #255 closed

[2016-08-26 16:20] anacaet commented on #244
hey @thbar did you go through with that? I'm starting to create an application that will use streaming api to do some updates on my side but i'm afraid that the documentation doesn't really help

[2016-08-26 16:22] anacaet commented on #237
Someone has an updates on this topic?

[2016-08-28 08:38] thbar commented on #244
Hi @anacaet! I ultimately decided to stop using streaming and instead I'm relying on [get_updated](http://www.rubydoc.info/gems/restforce/Restforce%2FConcerns%2FAPI%3Aget_updated). I decided that because of concurrency limits on the streaming API (some connections would - if I understood well - go stale without sending me any error, so this was unreliable at the scale I was working on). Hope this

[2016-08-29 13:14] anacaet commented on #244
Hi @thbar, thanks for the answer, can you share why did you stop to use the streaming API? I'm looking for options to receive updates from salesforce in my application, but my requirement is to get the update on real time, so I think that the streaming API is the option for me, but I'm not so sure.

[2016-08-29 16:50] thbar commented on #244
@anacaet I cannot be much more specific, except to say I was using a large number of concurrent connections on many different Salesforce accounts at once. I would definitely recommend that you try the streaming API first, because it could work perfectly well for your own use cases!

[2016-09-09 04:25] muratonder commented on #176
I have changed the implementation long time ago, nor using the Streaming API anymore.. Cheers.

[2016-09-09 04:25] #176 closed

[2016-09-12 13:03] Sashkan commented on #252
If anyone gets this problem, all you have to do is
- ``` rails c```
- ```client = Restforce.new```
- ```client.describe([Your model])```
- ```Ctrl + Shift + F``` in your terminal, type the name of the field you're looking for
- ```Make sure you type the exact ```name```

In my case, the ```brief_need``` field turned into ```brief_need__c``` on my opportunity

[2016-09-12 13:03] #252 closed

[2016-09-12 13:06] Sashkan opened #256 "Does Restforce handle the Revenues ?"
Whenever you log into your Salesforce account, first thing you see is the Revenue Graph.

I was wondering if ```Restforce``` had a method to handle this (so that everytime I close an opportunity, it should update the graph).

[2016-09-17 16:48] timrogers commented on #252
Custom fields will always have that `__c` prefix - you can definitely see those in the Salesforce interface too if you look at the fields for your object in settings!

[2016-09-17 16:49] timrogers commented on #256
I'd suggest asking Salesforce maybe - I don't think we have this graph in our accounts, but we might have got rid of it. You'd just need to ask them if it's exposed via the REST API.

[2016-09-17 16:49] #256 closed

[2016-09-17 16:49] timrogers commented on #253
@theog Ping! 🔔

[2016-09-20 13:51] justinboynton opened #257 "client.create sending data as mutlipart ubuntu 14.04 LTS"
Hi

I am seeing differences in the way that client.create calls between local development environmenton Mac and production environment on Ubuntu 14.04 LTD both running rails 4.2.4 ruby 2.3.0. The below i s the trace from the Ubuntu server where my data appears to be being posted as a multipart form rather than json as expected.

Restforce.log = true
client = Restforce.new
client.create("Lead", fir

[2016-09-20 13:57] timrogers commented on #257
Can you provide the debug output for your local environment too? I'll take
a look 👀.
On Tue, 20 Sep 2016 at 15:51, Justin Boynton <notifications@github.com>
wrote:

[2016-09-20 14:11] justinboynton commented on #257
Thank you. Sorry the debug above is not clear. Below are the relevant bits from both environments:

**Prod Server**

[2016-09-20T14:08:39.926836 #9012] DEBUG -- request:
  url: "https://cs87.salesforce.com/services/data/v26.0/sobjects/Lead"
  method: :post
  headers: {"User-Agent"=>"Faraday v0.9.2", "Content-Type"=>"multipart/form-data;boundary=--boundary_string", "Content-Length"=>"296", "Authori

[2016-09-26 12:56] timrogers commented on #257
Sorry for the slow response!

I don't think this is happening in Restforce - I wonder if your
code/another gem is configuring Faraday to use the multipart middleware it
provides (see
https://github.com/lostisland/faraday#advanced-middleware-usage)? A good
place to start would be to look for references to Faraday in your code, and
check `Gemfile.lock` for any gems that depend on it, and look at the

[2016-09-26 14:48] justinboynton commented on #257
Thanks Tim

Yes sorry I have verified this is the case running a simple ruby script outside of the rails project on the server architecture. Now to try and track down which gem is inserting the middleware.

Best

Justin

On Mon, 26 Sep 2016 at 13:56 Tim Rogers

<
mailto:Tim Rogers <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Sorry for the slow respo

[2016-09-26 17:02] justinboynton commented on #257
I am not sure where the middleware was getting messed up in production environment but for anyone else struggling with this and needing a quick resolution (with the usual caveats) then you can delete the middleware from the handlers:

client = Restforce.new

client.middleware.handlers.delete Restforce::Middleware::Multipart

client.create(…)

Thanks

Justin

On Mon, 26 Sep 2016 at 15:48 Justin Boy

[2016-09-29 16:27] Nerdenberger opened #258 "Support For SObject Tree / Nested Objects / CRUD 200 Records In One Call"
Does this gem support SObject Tree?
https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_composite_sobject_tree_flat.htm

The SObject tree allows CRUD on up to 200 records per API call as well as the ability to create nested objects (create an account, its contacts, and its opportunities) in one call.

If not, would anyone be interested in working on it with me?

[2016-09-29 16:35] timrogers commented on #258
Hi Nicholas!

We don't support that in the gem, but I'd be happy to work with you on it
(or at least do code review). Do you have any view on how you'd implement
it?

Tim

On Thu, Sep 29, 2016 at 5:27 PM Nicholas H. Erdenberger <
notifications@github.com> wrote:

[2016-09-29 20:26] Nerdenberger commented on #258
So we have 2 endpoints:
https://yourInstance.salesforce.com/services/data/v34.0/sobjects/Account/
(1 record)
https://yourInstance.salesforce.com/services/data/v34.0/composite/tree/Account/
(array of up to 200 records)

Ideally the gem would accept either a set of params
[code]

Or it could accept an array
[code]

[2016-10-05 17:26] timrogers commented on #258
Sounds pretty sensible to me.

I wonder if it might be worth namespacing it somehow to avoid crazy code
that has to accept such varied parameters (e.g. for the update method). You
might end up with calls like "client.bulk.update".

What do you think? Do you want to have a go?
On Thu, 29 Sep 2016 at 21:26, Nicholas H. Erdenberger <
notifications@github.com> wrote:

[2016-10-13 11:38] espen commented on #243
Email is not a unique field in Salesforce. So if you have two leads with the same email then Salesforce don't know which record to update and raises this error.

It's a feature, not a bug:

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_upsert.htm

[2016-10-17 20:00] ccutrer opened #260 "not compatible with json 2.0 (and thus ruby 2.4)"
JSON 2.0.0 dropped support for ruby < 2.0.0, but is otherwise compatible. JSON 2.0.0 is required to be compatible with Ruby 2.4. Thus until restforce updates its dependency constraint, restforce is not compatible with ruby 2.4

[2016-10-17 20:10] timrogers commented on #260
@ccutrer Good spot! Have you tried with JSON 2.0.0? What's broken?

[2016-10-17 20:23] ccutrer commented on #260
I haven't yet. I'm working on just trying to run our app with Ruby 2.4, and I have several other dependency problems to work through first. restforce is an optional feature in our app, so I just moved that code out for now. AFAICT, though, nothing should be broken - the only reason for the major version bump was dropping of ruby 1.8/1.9 support. Which you don't even need to worry about, as long as

[2016-10-18 08:10] timrogers commented on #260
I'll have a play now and see if it works - I imagine it will...

[2016-10-18 10:07] timrogers commented on #260
I've put together a fix to this in https://github.com/ejholmes/restforce/pull/261 - looks like it's behaving well with the tests passing on all versions.

[2016-10-18 11:00] #260 closed

[2016-10-19 19:48] cworsley4 opened #263 "Upsert failing due to PATCH not being an acceptable method"
I'm calling upsert on a custom object, where I'm updating based on Id. In the case in question, upsert should perform an insertion since Id is nil. That is the behavior I'm expecting. The SFDC error message reads: `METHOD_NOT_ALLOWED: HTTP Method 'PATCH' not allowed. Allowed are GET,HEAD,POST`

[2016-10-19 21:00] timrogers commented on #263
@cworsley4 Can you give an example of your code? I'm wondering if it might be an example of "Inserting New Records Using Id as the External ID" at https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_upsert.htm, which seems to use `POST`.

[2016-10-20 10:07] janraasch opened #264 "Cannot update to v2.4.1 on Rails v4.2 and Ruby v2.x"
Bc. of the change introduced in

https://github.com/ejholmes/restforce/commit/e21754baca178312b3063911de12d0930c0471d1

users of `rails (~> 4.2)` cannot upgrade to `restforce v2.4.1`.

The problem is a conflict with `activesupport`:

[code]

I would hope that we could update to future versions of `restforce`, even when running `rails 4.2` on `ruby 2.x`. `rails v5` has been released but I think a l

[2016-10-20 10:15] timrogers commented on #264
@janraasch Apologies! This will be fixed in v2.4.2 soon - awaiting a review on https://github.com/ejholmes/restforce/pull/262.

[2016-10-20 10:15] timrogers commented on #264
Could you try binding your Gemfile to that commit and seeing if it works okay? :smile:

[2016-10-20 10:28] janraasch commented on #264
Sure, works like a charme. Looking forward to the next release, then. Thank you.

[2016-10-20 10:28] #264 closed

[2016-10-24 17:42] panozzaj commented on #237
I implemented something that might work for this, I invite you to check out PR #265 and leave any feedback or comments.

[2016-10-28 10:17] wmadden commented on #160
I'm having this error too and don't know how to debug it

[2016-10-28 10:31] wmadden commented on #160
I found the problem, I had passed `api_version: 38` instead of `api_version: "38.0"`. This error is really really unhelpful.

[2016-11-04 16:15] chrismcmahon opened #268 "add Tooling API example to README?"
An example in the README of how to use restforce with the Tooling API would be helpful. I’ve been using restforce with the regular API for over a year now, but I’m struggling to figure out how to add a CustomField to an Account object with restforce and the Tooling API.

[2016-11-05 15:17] ncino-cpezza opened #269 ""NOT_FOUND: The requested resource does not exist" on some commands"
When I am creating a select() or find() call I am receiving the above error when no records are found. but runs fine when there is a record to be returned. Any ideas on why this is happening only for these 2?

I am using gem version 2.4.2
Ruby 2.3.1 and rails 5.0.1

[2016-11-05 15:26] swaincreates commented on #269
I believe thats the correct response and it is similar to running an ActiveRecord find method. For instance with ActiveRecord `User.find(1235)` will return `ActiveRecord::RecordNotFound: Couldn't find User with 'id'=1235`.

[2016-11-05 17:55] ncino-cpezza commented on #269
So there is no way to have it return false instead of error when running these methods? Trying to check for existing record before doing and update or create. Upsert can't work when lookup field is master detail not reparenting.

[2016-11-05 18:02] swaincreates commented on #269
I may not understand your full situation, but you can rescue the specific error and get a similar check. Something like:

[code]

[2016-11-05 18:28] ncino-cpezza commented on #269
Ahh ok ill give that a go thanks!

[2016-11-07 09:08] timrogers commented on #268
@chrismcmahon This would be a great idea but I'm not personally familiar with the Tooling API. I'll try to take a look myself. Have you had a delve into the code?

[2016-11-07 09:12] timrogers commented on #269
@swaincreates's suggestion is 👌  - that's what I do! Just let us know if you come up against any other issues at all.

[2016-11-07 09:12] #269 closed

[2016-11-07 16:39] chrismcmahon commented on #268
I have. It seems to me that something like the following should work, but all the tweaks I've tried return 404

  @tooling_api_client ||= Restforce.tooling api_version: '32.0',
                                            refresh_token: ENV['SF_REFRESH_TOKEN'],
                                            client_id: ENV['SF_CLIENT_KEY'],
                                            client_secret: ENV

[2016-11-09 14:06] orlavy1976 opened #270 "using ca cert file"
Hi,

I am trying to use ca_cert file:
[code]

this doesn't work.
after modifying the faraday_options method in authentication.rb to be:
[code]

Am I missing something? should I pass the ssl option in another way so faraday will be initialized correctly?

Thanks,

Or

[2016-11-10 19:33] chrismcmahon commented on #268
This is interesting. I set Restforce.log=true and this is what restforce is sending to the Tooling API. I don't think this is what's intended:

D, [2016-11-10T11:59:10.636615 #95103] DEBUG -- request:
  url: "https://cs21.salesforce.com/services/data/v32.0/tooling/sobjects/Account"
  method: :post
  headers: {"User-Agent"=>"Faraday v0.9.2", "Content-Type"=>"application/json", "Authorization"=>"OAu

[2016-11-10 22:48] timrogers commented on #270
It looks like this should work to me. Have you tried diving deeper into Restforce's Faraday instance and seeing what actually happens?

[2016-11-10 22:48] timrogers commented on #268
@chrismcmahon Any ideas on a fix? It could just be broken potentially - I haven't seen others using the Tooling API.

[2016-11-10 22:54] chrismcmahon commented on #268
I think I just don't know enough about the Tooling API nor about restforce. I've treated restforce so far as basically a black box.  I'll dig into this more next week with a colleague who knows a lot more about SF and restforce, but in the meantime, even the simplest working example would be helpful.

[2016-11-16 13:09] timrogers commented on #270
@orlavy1976 Ping!

[2016-11-16 13:09] timrogers commented on #268
@chrismcmahon Makes sense to me. I'd like to look into this a bit more but I'm too busy at the moment. Happy to investigate at some point!

[2016-11-17 16:43] jhelbig opened #271 "logout does not remove everything from localstorage"
on user logout all the cognito identity objects are deleted, the aws.cognito identity objects remain though.  This causes the app the confuse if you're actually logged in still or not, and keeps you signed in.

Currently the only known fix is to manually remove them from the applications/localstore manager in Chrome dev tools.

[2016-11-17 16:44] jhelbig commented on #271
oh wow, sorry this is not the repo i'm looking for.  Please disregard!

[2016-11-17 16:44] #271 closed

[2016-11-24 00:53] georges opened #272 "username/password authentication with password expiry and account lock"
Anyone knows the best strategy to deal with situation where the SF instance enforces password expiration and account lock? It seems very impractical to deal with changing the password and ensure that no errand process will use the old password and lock the account by the time the updated password + token propagate thru.

Is there an easy way to obtain an OAuth and refresh token from the SF UI for

[2016-11-29 12:34] timrogers commented on #272
Could you just build a quick Ruby script to do the OAuth flow for you? I think that'll probably be easiest.

[2016-11-30 19:25] anacaet commented on #253
Hy @theog and @timrogers any update on this? Would be great with this library has this option

[2016-11-30 19:52] timrogers commented on #253
Hi Ana,

Do you want to try making a pull request? I'd be happy with this change.

Tim
On Wed, 30 Nov 2016 at 19:25, Ana Rodrigues <notifications@github.com>
wrote:

[2016-11-30 22:04] gaiottino opened #276 "mashify: false doesn't paginate"
I've been trying to increase the performance of some Salesforce queries returning large results (~6000 objects) and found `mashify: false`. Unfortunately setting `mashify: false` means that I only get the first 2000 objects of the query since Restforce just returns `response.body['records']` instead of paginating if `response.body['nextRecordsUrl']` is present.

[2016-11-30 22:35] timrogers commented on #276
Have you done any investigation into how to fix this? Looks like a sensible
bug report and would welcome a PR. Happy to help out too!
On Wed, 30 Nov 2016 at 22:04, Daniel Gaiottino <notifications@github.com>
wrote:

[2016-12-16 13:48] Sashkan opened #279 "Configure Sandbox Client"
Hi !

I'm having trouble setting up my app with Salesforce Sandbox. I have 2 apps, one for staging, one for production. I also have a production Salesforce org, and a sandbox. I'm not quite sure what I have to replace in order to connect the sandbox env to my staging app.

At first, I tried changing my environment variables to match the sandbox (Therefore creating a new Salesforce app and changing

[2016-12-19 00:55] swaincreates commented on #279
I have a similar setup and there are two things to note when connecting to the sandbox:
1. You do need to change host to `test.salesforce.com`
2. You need to append the name of the sandbox to username, just like when logging into sandbox so.. `user@email.com.DevSandbox`

I'm pretty sure thats the only thing I do. Hope that helps!

[2016-12-19 12:27] Sashkan commented on #279
Did you create a new app in sandbox environment? I tried by just changing the host and the username, I still get the same error

[2016-12-19 21:44] maxwell opened #280 "Upgrade to faraday 0.10?"
First: Thank you for restforce, it saves me loads of headaches and I appreciate all the hard work you guys do.

I am working on upgrading my app to Rails 5; any chance of supporting the most recent version of Faraday as your dependency?

Thank you!

[2016-12-22 16:08] moskeyombus commented on #109
`client` is not an instance of `Restforce::Client`, it is now an instance of `Restforce::Data::Client`, and `set_headers` is still not a valid method... has the ability to set headers been added somewhere and I'm just missing it or this still an issue?

[2016-12-23 16:58] timrogers commented on #280
@alexluke is on it in #278 - should get it merged soon :heart:

[2016-12-27 21:33] moskeyombus commented on #109
I was able to set custom headers by defining a middleware:

[code]

And then including that middleware when instantiating an instance of the Restforce client:

[code]

Is there any interest in supporting this out of the box in the Restforce gem?  I would be happy to open a PR adding this middleware to the gem so this can be done during initialization without having to define your own middleware.

[2016-12-28 13:07] timrogers commented on #280
Done!

[2016-12-28 13:07] #280 closed

[2016-12-28 13:08] timrogers commented on #109
@moskeyombus Sounds sensible to me. Make a PR when you get a chance! :heart:

[2016-12-29 22:05] moskeyombus commented on #109
https://github.com/ejholmes/restforce/pull/281 :)

[2016-12-30 18:24] mikeyoungyoung opened #282 "List of Objects supported"
Do you have a list of objects supported for this?  I'm tying to pull down knowledge articles but it's apparently not supported

[2016-12-31 22:02] maxwell commented on #280
thank you!

[2017-01-16 23:40] cworsley4 commented on #279
+1 here. I have a HORRIBLE time getting Restforce setup to my Sandbox instance. I have it working with making a raw post request to the oauth2 endpoint and getting back an access token. Can we initialize Restforce and provide that token?

I'm trying to debug by recording the Restforce authentication request with VCR and comparing the raw request.

[2017-01-18 19:22] joewarner commented on #282
I guess I want to ask the same question. I'd like to be able to run Reports via the API and access the resulting data. The following

[code]

seems to get me a 'handle' to the report I'm interested in which tells me it is an SObject. `report.describe` seems to tell me a lot of stuff that looks interesting but I'm struggling to get beyond that point. (I looked at the code for sobject.rb but didn't

[2017-01-19 14:47] runa opened #283 "why client_id and client_secret are mandatory for user and password auth?"
Hi!
I'm having *a lot of trouble* authenticating to Salesforce using username and password (I'm receiving the infamous  `Restforce::AuthenticationError: invalid_client_id: client identifier invalid` error)

We have another app connected to Salesforce, using the same credentials which is working without problems (it's using the [simple-salesforce](https://github.com/simple-salesforce/simple-salesfo

[2017-01-19 21:49] antwonlee commented on #283
Do you have a sample code?

[2017-01-19 21:52] timrogers commented on #283
I'm afraid I don't know why this is - your best bet would be trying to compare the requests Restforce and simple-salesforce make, or maybe reading into the Salesforce API docs and their authentication schemes. I might get a chance to look at some point, but I can't imagine this will be that hard to find out with a bit of research.

[2017-01-20 14:47] runa commented on #283
@antwonlee sorry, sample code for the mandatory `client_secret` or the code yielding the  `client identifier invalid` error?

[2017-01-25 20:05] cmalpeli commented on #160
@wmadden thanks for this - I had done the same thing - you just saved me a ton of time.

[2017-01-27 11:41] r9b9rt commented on #283
The reason is that salesforce requires these parameters for oauth. And that is what restforce uses to authenticate

https://developer.salesforce.com/page/Digging_Deeper_into_OAuth_2.0_on_Force.com#Obtaining_a_Token_in_an_Autonomous_Client_.28Username_and_Password_Flow.29

[2017-01-27 20:18] cmalpeli opened #284 "Restforce::UnauthorizedError: INVALID_SESSION_ID: Session expired or invalid"
Hello,

I'm using the `omniauth-saleforce` gem to perform OAuth authentication between my app and my customers Salesforce instance.  They can successfully authenticate and grant my app the token and refreshtoken, however after a period of time the session expires with the following message:

`Restforce::UnauthorizedError: INVALID_SESSION_ID: Session expired or invalid`

What am I doing wrong? Shou

[2017-01-27 20:33] cmalpeli commented on #284
never mind - I wasn't using: `authentication_callback: Proc.new { |x| Rails.logger.debug x.to_s }`

[2017-01-28 19:19] cmalpeli commented on #284
I am actually still having this issue.  I thought it was because I didn't have the `authentication_callback: Proc.new { |x| Rails.logger.debug x.to_s }` statement, but I included that and the session still expires after some time....

[2017-01-28 23:43] wmadden commented on #160
Glad I could help, @cmalpeli :)

[2017-01-30 12:05] timrogers commented on #160
@wmadden Thanks for the warning about this! Will look at implementing something to warn people :heart:

[2017-01-30 12:05] timrogers commented on #284
@cmalpeli Will try to look into this over the next few days.

[2017-01-30 14:18] cmalpeli commented on #284
Thanks @timrogers here is the relevant code from my class initializer:

[code]

[2017-02-03 19:29] BWheatie opened #287 "Pass Update variable"
I want to pass Update a variable of a hash. I am getting an error when I attempt to just pass it the variable. I don't see anywhere where it might be limited what I can pass it.

[2017-02-03 19:39] timrogers commented on #287
Hi Ben! You should certainly be able to pass a hash. Can you tell us what
error you're getting, and maybe give a code example?
On Fri, 3 Feb 2017 at 20:29, Ben Wheat <notifications@github.com> wrote:

[2017-02-03 19:45] BWheatie commented on #287
[code]

[2017-02-03 20:13] hm-mkim opened #288 "Create and update issue"
Hi, I am having trouble creating and updating new contacts/accounts into salesforce. I have no issue querying and getting all the contacts however. What would you suggest?

[2017-02-03 20:14] timrogers commented on #288
Can you explain what's going wrong? What exactly are you trying to do, and
what error do you get?
On Fri, 3 Feb 2017 at 21:13, hm-mkim <notifications@github.com> wrote:

[2017-02-03 20:18] hm-mkim commented on #288
Hey Tim,

Thanks for responding! Well, I don’t think I’m getting an error per say, but the create/update method won’t make any changes in my salesforce contacts. Below is my create method.

def create
    if current_user
      client = Restforce.new :oauth_token => current_user.oauth_token,
        :refresh_token => current_user.refresh_token,
        :instance_url  => current_user.instance_url,

[2017-02-03 22:11] timrogers commented on #288
Can you try swapping it for `create!`? That way, it'll raise an exception to tell you what has gone wrong.

[2017-02-03 22:13] timrogers commented on #287
Which Ruby version are you using? The error you're mentioning makes it sound like you might be using an unsupported version. You can check by running `ruby -v` in a terminal/command prompt.

[2017-02-03 22:24] hm-mkim commented on #288
Hey Tim,

I just tried swapping to “create!” and this is the response I get:

Faraday::ClientError in ContactsController#create
INVALID_FIELD_FOR_INSERT_UPDATE: Unable to create/update fields: Name. Please check the security settings of this field and verify that it is read/write for your profile or permission set.

Is this because my account doesn’t have permission to create?

Thanks!

From: Tim

[2017-02-03 22:26] timrogers commented on #288
Yes, that's most likely the problem!
On Fri, 3 Feb 2017 at 23:24, hm-mkim <notifications@github.com> wrote:

[2017-02-03 22:48] hm-mkim commented on #288
Thanks!

From: Tim Rogers <notifications@github.com>
Reply-To: ejholmes/restforce <reply@reply.github.com>
Date: Friday, February 3, 2017 at 2:26 PM
To: ejholmes/restforce <restforce@noreply.github.com>
Cc: Moses Kim <Moses.Kim@hudsonandmarshall.com>, Author <author@noreply.github.com>
Subject: Re: [ejholmes/restforce] Create and update issue (#288)

Yes, that's most likely the problem!
On Fri, 3

[2017-02-04 15:52] cmalpeli commented on #284
@timrogers any ideas here? Am I simply doing something wrong?

[2017-02-04 16:07] timrogers commented on #284
I've been having a think about this, but I'm not sure what's going wrong to be honest.

Could you try enabling logging (see <https://github.com/ejholmes/restforce#loggingdebugginginstrumenting>) and see what it outputs? I'm wondering how it's messing up the authentication process and whether there's something odd going on with refresh tokens or something (since the gem seems to work for me and eve

[2017-02-04 17:53] cmalpeli commented on #284
Sure - here you go

[code]

[2017-02-04 17:58] timrogers commented on #284
Looks pretty odd to me. Could it not just be that your access token isn't
valid? You might want to ask Salesforce when they give that API response.
On Sat, 4 Feb 2017 at 18:53, Christian Malpeli <notifications@github.com>
wrote:

[2017-02-04 18:04] cmalpeli commented on #284
Do you mean my oauth_token or my refresh_token?  It works if I re-establish the connection and continues to work until I eventually get the expired message.

Do you have a sample vanilla snippet of connecting and performing an action I could use and swap out for my tokens?

[2017-02-07 16:47] cmalpeli commented on #284
Hi @timrogers any further thoughts on this?  I've submitted on their dev forums but not getting anything useful: https://developer.salesforce.com/forums/ForumsMain?id=9060G000000I4YQQA0

Cheers!

[2017-02-09 04:11] antwonlee commented on #284
@cmalpeli What is your refresh token policy with your connected app?

[2017-02-09 15:15] cmalpeli commented on #284
Hi @antwonlee it is currently set to:

`Refresh Token Policy:	Refresh token is valid until revoked`

Makes no sense....

[2017-02-10 22:26] antwonlee commented on #284
@cmalpeli Sorry to ask bunch of questions.  What are your Oauth scopes?

[2017-02-10 23:02] antwonlee commented on #284
Is "web" included in your Oauth scope?

I might run a test app just with `restforce` to see if it's your Salesforce configuration or its the combination of using `omniauth-salesforce` together.

What is your instance URL?  I never used `omniauth-salesforce` before, but `restforce` middleware using refresh_token works fine on my app.

[2017-02-11 02:46] cmalpeli commented on #284
Thanks @antwonlee

Sorry, where would I see if "web" is included in my scope?

Would you mind sharing how you are establishing your refresh_token in your app?  If you are not using `omniauth-salesforce` how are you handle the OAuth?

[2017-02-11 18:43] antwonlee commented on #284
@cmalpeli You can find the scope in your Salesforce connected app settings.

Setup > Apps > App Manager > Your App > Selected OAuth Scopes

Here is a simple Restforce Demo Rails App:

https://github.com/antwonlee/restforce-demo-app/blob/72e106fc3310464f3c9ae14aeac839e2bd8d52cc/config/initializers/salseforce.rb

class Salesforce
  include Singleton

[code]

It's straight from the README file.

It's

[2017-02-11 18:53] antwonlee commented on #284
@cmalpeli I am just troubleshooting with you, I am not totally sure if that is the actual problem it's causing your app.

[2017-02-12 05:58] antwonlee commented on #284
@cmalpeli  I didn't use gems like `omniauth` but manually requested through curl and set the token and other credentials in environment variables for the app.  Perhaps, what you are trying to do with your app is more like [this](https://github.com/bfagundez/rails-salesforce-oauth-template/blob/master/app/models/user.rb) with `omniauth-salesforce` doing that process for user on its behalf?

[2017-02-12 07:38] antwonlee commented on #287
@timrogers I am not sure if that is a ruby version.  @BWheatie It looks like the error is indicating that `attrs` needs a assigned key valued.  The error is suggesting ('Contact', Id: 0000, attrs: 'something should be here')

My guess is that `create` and `update` have different method argument structure? Maybe?

[2017-02-12 08:40] timrogers commented on #287
Yes @antwonlee  - you're right actually! My mistake.

The problem here is that Ruby doesn't understand an expression like this - keyword arguments must come last (hence the syntax error) and in any event, this method only takes two arguments.

The [`update` method](https://github.com/ejholmes/restforce/blob/b30b66a2ab6a0a92358d250b3919b0e72c721a8f/lib/restforce/concerns/api.rb#L318) takes as argum

[2017-02-12 15:01] antwonlee commented on #287
@timrogers Nice.  That seems to work perfectly.

[2017-02-12 15:43] cmalpeli commented on #284
@antwonlee thanks for all your help - much appreciated.

I do have the web scope included (I've actually included all scopes just in case one of those being missing was the issue).

You are correct in your assumption, in the app, each user can authenticate to their SF instance via the 'omniauth-salesforce' gem.

Here is my test salesforce class:

https://gist.github.com/cmalpeli/238ef16f243e6c31a7

[2017-02-12 18:38] antwonlee commented on #284
@cmalpeli Sorry to hear that.  It sounds frustrating.  Are you storing the the `refersh_token` in the database itself (like in the User's model)?  I remember reading some people having database connection problem causing similar issues.

I think I will try myself creating the demo app using `omniauth-salesforce` and try to mimic what you are trying to do.

[2017-02-12 23:21] cmalpeli commented on #284
@antwonlee yes - I am storing the `refresh_token` in the db.  It seems that `restforce` is failing to properly request/generate a new `access_token` once the initial `access_token` expires?

[2017-02-13 01:16] antwonlee commented on #284
@cmalpeli I think you are right.  I would start investigating here: https://github.com/ejholmes/restforce/issues/81  I have a feeling it is not `restforce` that is having issues, but somewhere between your database and the middleware?

Let me know what you find.   I will do some research too, and hopefully try to create a demo app that does what you are trying to do when I have some time.

[2017-02-13 15:12] cmalpeli commented on #284
@antwonlee not sure if that is the issue - I am pulling out the `refresh_token` out of the DB without issue.

If I do something like:

[code]

I get the output of the tokens and then the Session error:

[code]

[2017-02-16 18:16] cmalpeli commented on #284
@antwonlee any suggestion on how to confirm/debug if restforce is requesting a new `refresh_token`?

[2017-02-16 20:12] sojan-official opened #289 "Error Faraday::ResourceNotFound (NOT_FOUND: The requested resource does not exist):"
I am create an integration to salesforce where i will be pushing leads to salesforce. Spent over an hour figuring out restforce and I am stuck with the error, for every call I make

`Faraday::ResourceNotFound (NOT_FOUND: The requested resource does not exist):`

the code i tried is

[code]

The app is build in rails4
I am doing the authentication with omniauth for oauth
can someone help ?

[2017-02-17 10:13] timrogers commented on #289
When you're making a SOQL query, Salesforce uses singular names for the
resources, e.g.

[code]

Let us know how you get on!

On Thu, Feb 16, 2017 at 8:12 PM sojan v jose <notifications@github.com>
wrote:

[2017-02-17 21:01] kennyb5000 commented on #67
I also experienced this issue and was able to work around it by wrapping it in a ```.without_caching``` block.

Example:
[code]

[2017-02-17 22:39] antwonlee commented on #284
Hey @cmalpeli Sorry my week was very full.  Are you using any authentication gem or your own?  I am going to try to create a demo app myself but will be doing with devise, omniauth-salesforce, restforce.

[2017-02-18 02:14] cmalpeli commented on #284
hi @antwonlee I'm using Devise.  Thx!

[2017-02-18 07:01] sojan-official commented on #289
@timrogers  thanks for pointing out that tim.
but the code is not reaching that point. i am getting the exception at the line

`client.user_info`

so still looking for some help. 😅

[2017-02-20 19:55] nicholassewitz commented on #242
@gaiottino did you ever get anywhere with batch requests?

[2017-02-21 08:16] gaiottino commented on #242
@nicholassewitz there's an implementation here https://github.com/gaiottino/restforce/blob/master/lib/restforce/concerns/batch_api.rb with corresponding specs https://github.com/gaiottino/restforce/blob/master/spec/unit/concerns/batch_api_spec.rb

It's been working well for us for about 8 months now but I recently added some additional logging which you could remove. Haven't created PR to get it m

[2017-02-21 11:03] timrogers commented on #289
Aha! Can't see any obvious reason why that wouldn't work. Can you try some other API calls? (If it was an authentication problem, I'd expect to see an error to that effect.)

[2017-02-21 20:21] nicholassewitz commented on #242
Thanks @gaiottino! how are you calling the batch method?

[2017-02-22 03:25] gaiottino commented on #242
@nicholassewitz we use it as a block
[code]

[2017-02-22 15:16] cmalpeli commented on #284
@antwonlee just a small update - even if I hardcode the auth values, I still get the `[{\"message\":\"Session expired or invalid\",\"errorCode\":\"INVALID_SESSION_ID\"}]` once my token expires.

``@client ||= Restforce.new(oauth_token: "XXXXXXXr5_NBUS3gPhmEo_WpsxXdFK0FhwsMqZhiKJ5UvLm2vid6Y15cArBl2tYz61oPOYHsefBSjlCUel9Jae3.Wj",
                     refresh_token: "XXXXXXzSFTnMxSFeBvT5n6tBOvKkjN3pN

[2017-02-28 16:09] nojose opened #290 "Faraday::ClientError: (error code missing)"
Hi. I have an app on Rails 4.2.6, Ruby 2.2.2 using Restforce 2.2.0 that has been running, for almost a year, a background task (every hour) that performs some updates on Salesforce.

`@client = Restforce.new( { api_version: '32.0', host: ..., username: ..., password: ..., client_id: ..., client_secret: ...})`
`@client.update('Student_Volume__c', {...})`

The update call is inside a loop of ~50 ite

[2017-02-28 16:24] nojose commented on #290
We aren't. We are going directly to Salesforce endpoint. I'll go the their forums to see if someone else is having this issue. Thanks!

[2017-02-28 16:24] #290 closed

[2017-02-28 16:25] timrogers commented on #290
Let us know what to find out! The message your getting certainly won't have
come from Ruby ❤
On Tue, 28 Feb 2017 at 16:24, nojose <notifications@github.com> wrote:

[2017-02-28 16:50] hansondr opened #291 "Error code not detected when exception is generated in Salesforce"
I'm receiving a `Faraday::ClientError: (error code missing)` when handling an exception generated in a custom APEX class.  I'm using the following in Salesforce for testing:

[code]

when I pass any string other than "boom" I receive:

[code]

and when passing "boom"

[code]

and the associated `:debug` level log

[code]

[2017-03-05 01:42] antwonlee commented on #284
Hey @cmalpeli!  I had some time this weekend to play around with this with `devise` `omni-salesforce` and `restforce`.  Are you initializing this in your controller or your initialize folder?

I don't think you can call in the `current_user.refresh_token` that you stored in the database into initialization process—which I think is causing to not go through the middleware process.

Does that make s

[2017-03-05 01:43] antwonlee commented on #284
Here is a sample app I am working on for this process: https://restforce-omniauth-salesforce.herokuapp.com/

[2017-03-06 15:19] phereford commented on #120
I just experienced this issue when they transferred our salesforce environment from na11 to something else.

@mshoaibiqbal suggestion worked for us.

[2017-03-11 06:01] antwonlee commented on #284
Hey @cmalpeli I am not sure if you are still trying to fix this, but I was able to fix the token problem with this: https://github.com/restforce/restforce-omniauth-salesforce-demo-app/blob/master/app/models/user.rb#L18-L27 in the `User` model and using this: https://github.com/restforce/restforce-omniauth-salesforce-demo-app/blob/master/app/controllers/accounts_controller.rb#L4-L6 in your controll

[2017-03-11 14:48] cmalpeli commented on #284
@antwonlee this is awesome - I'll try to mirror this - makes sense!  I was
traveling so sorry for the delayed response.

On Sat, Mar 11, 2017 at 1:01 AM, Anthony Lee <notifications@github.com>
wrote:

[2017-03-11 15:20] antwonlee commented on #284
@cmalpeli I am still trying to figure out your issue.  When I manually put tokens in initializers it works fine, but when I try to initiate restforce through controllers or services or models—I am getting the same issue you are having.

Hopefully we can fix this!

[2017-03-15 18:05] antwonlee commented on #284
@cmalpeli the demo app https://restforce-omniauth-salesforce.herokuapp.com/ seems to be working fine now.  It's been few days and it still didn't have a token problem with my Salesforce production—not the developer edition.

[2017-03-15 19:38] timrogers commented on #284
@antwonlee Do you have a handle on what change you've made has fixed it? It'd be great to document this for others.

[2017-03-19 12:20] antwonlee commented on #284
@timrogers I think more documentation the better.  First of all, I think it will be nice to document what people need to configure on the Salesforce side.  As for Rails, things started to work when I did a `before_action` https://github.com/restforce/restforce-omniauth-salesforce-demo-app/blob/master/app/controllers/accounts_controller.rb#L3 with `current_user` values from the database.  I am tota

[2017-03-23 16:12] JaisonBrooks opened #294 "Faraday::TimeoutError - within seconds"
So i just started experiencing this issue yesterday. Its all across my Rails application. Every Restforce query returns this error. When performing even the simplest query, within seconds the query times out.

Im using restforce (2.5.0) with Ruby 2.2.3 and Rails 4.2.4. let me know what else you may need in order to help. Im at loss right now.

Here the example query...
`sfdc.client.query("select I

[2017-03-23 16:51] timrogers commented on #294
I'd check any global configuration you have for Faraday or Net::HTTP across your project (e.g. in `config/initializers` - looks like some kind of networking problem. Can you try from another machine or network too?

[2017-03-23 19:22] JaisonBrooks commented on #294
I have resolved the issue. You were on the right track, i had an issue a TIMEOUT environment variable being set to 0. therefore every restforce query resulting in this error. I am now setting my own timeout when creating my restforce client and it works good. Maybe suggestion in the future, valid timeout is set to value above 0? not sure anyone would ever proactively set it to that.

[2017-03-23 19:22] #294 closed

[2017-04-10 13:06] skazzaks commented on #279
I can't seem to log into my sandbox either. Has anyone had success doing so?

[2017-04-11 20:52] velveret commented on #159
We're seeing this issue again because of the switch back to `hash.delete`: https://github.com/ejholmes/restforce/blob/v2.5.1/lib/restforce/concerns/api.rb#L492

[2017-04-11 21:06] timrogers commented on #159
@velveret Good spot - this wasn't intended. Can you implement a fix and a regression test? (I'm happy to but always good to have new contributors!)

[2017-04-18 17:30] cworsley4 commented on #279
I have figured this out. I forgot about this issue or I would have come back with a response... Here is what I have though and it works. The host and instance_url I believe are the secret for me. Our sandbox isn't at test.salesforce.com, so I specify the instance but make sure that `host` is set to test.salesforce.com because that is where I want the OAuth requests to be sent. One thing I used for

[2017-04-20 12:54] derekhansen opened #298 "Feature Request: Support OAuth JWT Flow"
It would be great to support OAuth JWT Flow so that a refresh token doesn't need to be managed and users can be impersonated after app approval.

This feature was also asked for on https://salesforce.stackexchange.com/questions/159664/nightly-server-job-to-put-contacts-in-salesforce-use-restforce-gem-with-jwt-be

[2017-04-20 13:35] timrogers commented on #298
@derekhansen Sounds sensible to me! You'd be welcome to look at implementing it, if you like?

[2017-04-21 16:25] derekhansen commented on #298
Hi @timrogers ! Unfortunately, I was putting together a spec for a partner to integrate with us who is built on Ruby, I don't work on Ruby myself. If they end up going the JWT route I'll do my best to make sure it finds its way back here!

[2017-04-24 14:46] skazzaks commented on #279
Thanks for your help. I got it working. For me it was an issue of fat fingering something, but I am not sure how, as I copy and pasted the values. In any case, thank you!

[2017-04-25 05:39] msaffitz commented on #160
👍  Ran into this as well.  Thanks for the heads up.

[2017-04-26 12:16] antwonlee commented on #289
Can you describe what `user_info` looks like?  Like @timrogers mentioned, trying different API calls would be a good start.

[2017-05-02 14:28] tfuda opened #301 "Documentation for retrieving a Document is in error"
I tried following the example here: https://github.com/ejholmes/restforce#documents to download the body of a Document and save it to a file. This didn't work for me. Examination of document.Body shows that it contains a URL, like this: /services/data/v35.0/sobjects/Document/0155C00000053lWQAQ/Body for retrieving the body. To correctly retrieve the document body you must do the following:

[code]

[2017-05-02 15:16] timrogers commented on #301
This doesn't seem to match up with what is mentioned in the Salesforce docs - see https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_objects_document.htm.

[2017-05-03 17:03] daveespo commented on #301
This appears to be a bug (or, I'm sure they'll call it 'working as designed') in the Salesforce REST API

If you run a SOQL query through the API like:

[code]

(the LIMIT 2002 ensures that you get a nextRecordsUrl)

The first 'page' worth of records just has the URL to the Document Body field

![2017-05-03_1301](https://cloud.githubusercontent.com/assets/233309/25672249/c0c50326-3000-11e7-8c16-62

[2017-05-03 17:05] timrogers commented on #301
@daveespo Makes sense! Fancy making a PR for that readme tweak? :smile:

[2017-05-05 09:27] CroustyPopz opened #303 "INVALID_SESSION_ID: Session expired or invalid / invalid_grant: inactive user"
Hi !

I'm using your gem with omniauth-salesforce for some of my clients but it's often happening together these errors  :
  - Restforce::UnauthorizedError: INVALID_SESSION_ID: Session expired or invalid
  - Restforce::AuthenticationError: invalid_grant: inactive user

I already worked on invalid_session_id error and I'm thinking I did all rights about it (configuration & token)
But I didn't find

[2017-05-11 22:54] antwonlee commented on #303
It might be similar to this issue? https://github.com/ejholmes/restforce/issues/284

[2017-05-12 08:58] CroustyPopz commented on #303
It doesn't seems to be similar. As I said I already worked on INVALID_SESSION_ID and all work well on my side but some of my users seems to have errors :/

[2017-05-16 21:03] caydgreen commented on #279
Thank you, and for anybody else experiencing this problem, it seems that the order of @cworsley4 request does matter.  I had my host first and it was giving the error, so I moved it to the bottom and it works.

[2017-05-19 18:49] dangerp commented on #283
@r9b9rt that documentation seems to conflict with https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_understanding_username_password_oauth_flow.htm, which states:

This would imply that the client_secret is not always required, depending on the settings for the connected app.  However, after some initial testing I could not get a successful auth without the client_secre

[2017-05-23 03:30] antwonlee commented on #303
Gotcha.  Assuming your Users are obviously active users, I am trying to troubleshoot with you.  Do these Users have limited login hours on Salesforce side or haven't been active for a while?  What are some thing you tried so far?

[2017-06-07 14:39] skazzaks opened #306 "Expiring the cache"
I see that I can set GET requests to be cached, but I don't see any way to set a cache expiration time. Is there a way to do so?

[2017-06-09 15:20] timrogers commented on #306
I sent other some suggestions by email, so copying them here for completeness:

I think you basically have three possible solutions for being able to control the caching behaviour for Restforce - none of which involve modifying Restforce’s code, as it happens!

When you enable caching in Restforce, you pass in a cache “adapter” to use. I’m assuming you’re probably using `Rails.cache` which you hav

[2017-06-09 15:21] timrogers commented on #306
Has anyone else done anything like this? :heart:

[2017-06-09 19:22] timrogers commented on #306
I've made a PR to `faraday_middleware` to advance on approach #2 above: https://github.com/lostisland/faraday_middleware/pull/155

[2017-06-11 02:55] kevinjbayer commented on #284
I appear to be having this same issue. I was attempting to use Restforce without the omniauth gem, but I need the connection to remain persistent after a user logs in to SalesForce from my app. Until I saw this issue, I thought it was the way I was handling the callback (see below), which I'm still not sure is the best way to handle it or if the id_token is even the correct refresh_token, but it's

[2017-06-12 03:42] kevinjbayer commented on #284
Turns out I needed to enable the OAuth Scope (Perform requests on your behalf at any time (refresh_token, offline_access)) in order to get the refresh_token in the response. Will update tomorrow morning if that clears the expiration issue for me, as I suspect it may.

[2017-06-12 14:43] kevinjbayer commented on #284
I'm a bozo. I forgot to add the refresh_token when I was initializing the Restforce instance. It appears to be working properly now.

[2017-06-12 19:23] kevinjbayer opened #307 "Check if connection is present"
I can look for an access_token being present in the database, but is there an easy way to tell if the RestForce object is connected or not? Doing something like client.user_info.present? fails when an instance doesn't exist.

[2017-06-12 20:30] timrogers commented on #307
Can you provide a code example to explain what you mean? I'm not sure I
understand what you mean by a Restforce object being connected, so I think
that'll help.
On Mon, 12 Jun 2017 at 20:23, Kevin Bayer <notifications@github.com> wrote:

[2017-06-13 03:18] kevinjbayer commented on #307
Sure! So, I'm establishing `@restforce = Restforce.new...` in my controller. With or without the access token, @restforce creates an object that exists, but doesn't necessarily have a connection to salesforce. In my view, if I do `if @restforce.user_info.present?`, this will fail if the connection doesn't exist. I can also do `if @user.sf_token.present?`, which works, but relies on the token being

[2017-06-13 06:22] timrogers commented on #307
By a valid connection, do you mean that you have an access token that
allows you to successfully make requests to Salesforce? If so, I think
using #user_info is probably the best bet.
On Tue, 13 Jun 2017 at 04:18, Kevin Bayer <notifications@github.com> wrote:

[2017-06-13 08:45] timrogers commented on #306
My pull request to `faraday_middleware` has been approved, and will be included in the upcoming v0.12! https://github.com/lostisland/faraday_middleware/pull/155

[2017-06-13 09:33] skazzaks commented on #306
Great! Really appreciate it!
ᐧ

On Tue, Jun 13, 2017 at 10:45 AM, Tim Rogers <notifications@github.com>
wrote:

[2017-06-13 13:05] kevinjbayer commented on #307
Ok, I just wanted to make sure there wasn't some easier, safer method that I was missing. Thanks, Tim!

[2017-06-13 13:05] #307 closed

[2017-06-23 18:45] dclausen commented on #284
For anyone else that's getting bitten by this, I was getting the same INVALID_SESSION_ID  error but only in the sandbox environment. I had incorrectly used "test.salesforce.com" as the host instead of the same domain name as the instance_url.

[2017-07-07 17:44] Arepo opened #308 "Feature/documentation request: safely find record(s) by field value"
The docs mention this:

client.find('Account', '1234', 'Some_External_Id_Field__c')
# => #<Restforce::SObject Id="001D000000INjVe" Name="Test" LastModifiedBy="005G0000002f8FHIAY" ... >

So my first issue is I'm not sure what an external Id field is, but as far as I can tell it won't work with any field.

As a Plan B, I was thinking I could try this couplet:

[code]

The trouble is, in the case I'm

[2017-07-11 17:43] chrismcmahon opened #309 "is it possible for restforce to address the Database emptyRecycleBin method?"
The method I would like to call from restforce: https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_methods_system_database.htm#apex_System_Database_emptyRecycleBin_3

When I attempt this with for example

@api_client.emptyRecycleBin(array_of_ids)

the result is

undefined method `emptyRecycleBin' for #<Restforce::Data::Client:0x007fc1b8eec448> (NoMethodError)

Reading th

[2017-07-15 19:47] venache opened #310 "Minor documentation typo"
client.query('select Id, (select Name from Children__r) from Account').Children__r.first.Name
should probably be...
client.query('select Id, (select Name from Children__r) from Account').first.Children__r.first.Name
since query will return an array or Accounts

[2017-07-17 16:03] timrogers commented on #310
@venache Thanks! Can you make a PR to fix this?

[2017-07-17 16:10] timrogers commented on #308
@Arepo Thanks for the issue, and sorry for my slow reply.

An [external ID field](https://help.salesforce.com/articleView?id=faq_import_general_what_is_an_external.htm&language=en&type=0) has to be unique across all records, but has the benefit that you can filter by it in the API (using the `#find` method on the Restforce client). That won't be suitable for generic querying (e.g. by name, as you

[2017-07-17 23:27] venache opened #311 "Creating parent and children records in one query"
Is it possible to create a new parent record while inserting children records as well in a single query?  I was trying to use the create! method and pass a 'records' array to my children relationship but it returns that i have bad parameters in the children hash, even though it identifies all the parameters correctly (since if i mistype them it mentions that such a parameter does not exist on that

[2017-07-18 15:05] timrogers commented on #311
From looking at https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_composite_sobject_tree_create.htm, it looks like this is a separate API to implement, with its own URL. It's a fairly new API. This is also brought up at https://salesforce.stackexchange.com/questions/155422/using-the-rest-api-to-create-parent-and-child-records-in-a-single-http-request.

Would you like to

[2017-07-18 15:12] erlandsona commented on #160
Just ran into this same thing with v40... I had `'40'` in my initializer but needed `'40.0'` Thanks!

[2017-07-18 15:22] timrogers commented on #160
This reminds me to look at adding a warning! Thanks for the bump ❤️

[2017-07-18 16:07] timrogers commented on #309
I'm afraid I don't think it is - sorry! `emptyRecycleBin` is an Apex method which you can run inside of Salesforce, rather than a piece of functionality exposed in the REST API.

[2017-07-18 16:07] #309 closed

[2017-07-18 16:07] erlandsona opened #312 "Restforce + Bulk Api"
I'm trying to take advantage of Salesforce's Bulk Api to do this [`backup.objects=*`](https://github.com/neowit/backup-force.com/blob/c927b0f7ab36ffd3f7e7c7223ca3e858c391549e/config/sample-configuration.properties#L64) ([context](https://github.com/neowit/backup-force.com/blob/c927b0f7ab36ffd3f7e7c7223ca3e858c391549e/src/main/scala/com/neowit/apex/backup/BackupRunner.scala#L102))

But I'm not a Sc

[2017-07-18 16:09] timrogers commented on #312
I'm afraid the Bulk API isn't supported by this gem; it's only for the REST API. Sorry! :sob:

[2017-07-18 16:18] erlandsona commented on #312
😞 Thanks anyways! I'm still using it for authentication which it makes super easy, so thanks for that!

[2017-07-18 16:18] #312 closed

[2017-07-18 19:28] alexiidx opened #314 "Escaping apostrophies in query"
I am having issues running a query on a company field where the name may have an apostrophe. I've tried to run gsub on the string but Faraday keeps running something strange in an infinite loop and I have to shut down the development server. I've also tried to hardcode an escaped apostrophe into the query but it doesn't fix it.

Is there a way to solve this?

[2017-07-18 19:58] timrogers commented on #314
Can you provide a minimal test case which triggers this problem? (i.e. some
code I could run which triggers this problem)
On Tue, 18 Jul 2017 at 20:28, Alex Pronovost <notifications@github.com>
wrote:

[2017-07-18 20:03] alexiidx commented on #314
This is my query:
client.query(
          "SELECT Id FROM Lead WHERE (Email = '#{row[6]}' OR
           (Company = '#{row[0]}' AND FirstName = '#{row[1]}' AND LastName = '#{row[2]}'))"
        )

row[0] would be a string like l'eixample
I've tried to do row[0] = row[0].gsub(/[']/,"\\\\'") to replace the apostrophe but it ends up in an infinite loop when I do this.

If you need anymore information,

[2017-07-19 17:35] timrogers commented on #314
Could you provide an example value for "row" which causes the problem too?
I'd like to be able to try it locally.
On Tue, 18 Jul 2017 at 21:03, Alex Pronovost <notifications@github.com>
wrote:

[2017-07-19 18:38] alexiidx commented on #314
row = ["L'Eixample Company", "First Name", "Last Name", "123", "456", "Barcelona", "email@gmail.com"]

[2017-07-19 22:02] timrogers commented on #314
I'm afraid I haven't been able to reproduce this - if I run the code above, it does fail, but with a `Faraday::ClientError`, since Salesforce responds with a 400 since Salesforce returns a `MALFORMED_QUERY` error.

If I then mutate `row[0]` with `row[0].gsub(/[']/,"\\\\'")`, the query runs successfully, and I get an empty collection back (since I have no matching records).

I'm happy to investigat

[2017-07-19 22:09] alexiidx commented on #314
For context: I am looping over rows of a spreadsheet to upload leads into Salesforce. I am using the query to check duplicates within Salesforce. I'm really puzzled why it results in an endless loop when I mutate row[0].

[2017-07-19 22:25] timrogers commented on #314
Have you tried stripping it back and experimenting to find exactly what
causes the loop? And maybe trying it in a vanilla Ruby script without other
dependencies? I'd love to get to the bottom of your issue.
On Wed, 19 Jul 2017 at 23:09, Alex Pronovost <notifications@github.com>
wrote:

[2017-07-19 23:24] alexiidx commented on #314
I tried this on a single lead. It seems that whenever I escape the apostrophe, it starts looping over that one record plus about 99 blank records. I'm guessing it might be a formatting issue on the Salesforce side.

[2017-07-19 23:39] #314 closed

[2017-07-24 16:59] pskrz opened #316 "Composite Resources"
@timrogers If this isn't the right place to ask, excuse me. But, to assist someone who takes the initiative to add composite calls to restforce, can you explain what files would be created and where ? And what would have to be added to existing files.  I think some high-level direction would help, as I poked around a bit and wasn't sure where someone would begin.

Reference, composite calls: https

[2017-07-25 13:13] pskrz opened #317 "running rspec tests through `rake` default tasks causes this error for each test"
[code]

But they work when using `bundle exec rspec`

[2017-07-25 13:15] pskrz commented on #317
Also, I had to add this to the Gemfile to get past a simplecov error before I got to the above rspec error:
[code]

Again, `bundle exec rspec` didn't require this additional configuration.

[2017-07-26 13:05] Arepo commented on #308
Thanks Tim

[2017-07-31 22:25] zrc210 opened #318 "Streaming API Silent Disconnect"
I am currently in the process of debugging a silent disconnect between the streaming API and salesforce.

Unfortunately, the problem is difficult to reproduce on a small time scale - the latest disconnect has happened after almost 12 days of uninterrupted messages being passed from Salesforce. Restarting the script instantly restores the connection, and messages are received once again.

I have In

[2017-08-03 05:52] phlcastro opened #320 "Consuming object relationships"
[https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_sobject_relationships.htm](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_sobject_relationships.htm)

Hi guys
couldnt find a way to consume the API endpoint above (other than using `api_get`).

Am I missing something here? Would it be a good idea to add it to the gem?

Cheers

[2017-08-03 06:16] timrogers commented on #320
Feel free to add it! It should be very simple - just look back to a few
other PRs.
On Thu, 3 Aug 2017 at 06:52, Paulo Henrique Castro <notifications@github.com>
wrote:

[2017-08-03 06:19] phlcastro commented on #320
I'll send a PR soon then.. thanks!

[2017-08-03 08:25] timrogers commented on #318
I'm afraid that despite being the maintainer, I'm not familiar with the streaming side having never had cause to use it myself. It might be worth tagging in some people who've got involved in other streaming issues? (e.g. #265)

[2017-08-09 18:53] JPWallhorn opened #323 "Batch Size"
Hello,

currently, I don't see any way to define the batch size for the REST API SOQL Query call when selecting a lot of data. You can customize the batch size in the header normally (200 - 2,000).

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/headers_queryoptions.htm

Is there already an option for the batch size or would that be a new feature?

[2017-08-16 19:47] nicholassewitz commented on #316
I'd help on this as well

[2017-08-16 21:47] nicholassewitz commented on #242
@gaiottino I wonder if you would so graciously donate some of your time this week to maybe walk me through your implementation. I'd love to be able to finish this up and help add it to the gem but I am sort of a novice engineer and am a little lost.

[2017-08-28 15:35] neutronz commented on #282
@joewarner I don't think this library supports the [Analytics Reporting API ](https://developer.salesforce.com/docs/atlas.en-us.api_analytics.meta/api_analytics/sforce_analytics_rest_api_get_reportdata.htm#example_sync_reportexecute) which is needed to run reports.

Do you have any updated on a solution?

[2017-08-29 19:34] #156 closed

[2017-08-30 16:29] joewarner commented on #282
@neutronz Sorry, no I don't. I gave up trying to access reports from the API.

[2017-08-31 17:08] kennyb5000 commented on #316
I have added this into my own project using monkey patching.  It works to send the request but the error handling is messy because of the nature of the calls.  I also implemented [composite tree](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_composite_sobject_tree.htm) and it works well enough.

[code]

Example Usage:
[code]

Example Response: 2 Success, 1 Fail

[2017-08-31 21:24] timrogers commented on #316
Great work on this!

It sounds like we'd need to build an abstraction around the usual way of
calling the API if we wanted to support these complex composite requests.

You'd ideally, I guess, want to be able to create individual composite
requests (like each item in  `group` in your example) as some kind of
object, wrap those up into a single Composite Request object (which limits
the maximum ele

[2017-08-31 21:25] timrogers commented on #282
As long as this API isn't hugely different to the core parts of the
Salesforce REST API, it shouldn't be too difficult to implement this. Have
you taken a look at it and compared it against existing requests?

On Wednesday, August 30, 2017, Joe Warner <notifications@github.com> wrote:

--
--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

[2017-08-31 21:44] timrogers commented on #282
This should be fairly easy to implement; just a few lines change I think.
This API looks just like the normal one (e.g. roughly the same URLs).

On Thursday, August 31, 2017, Tim Rogers <tim@gocardless.com> wrote:

--
--

*Tim Rogers*
GoCardless.com <https://gocardless.com>

[2017-09-01 14:47] kennyb5000 commented on #316
@timrogers Thanks for the suggestions.  I will dig further into this when I can, hopefully sometime later this month.

[2017-09-07 19:52] pangolingo commented on #253
I was looking for this functionality too. But according to Salesforce documenation (https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_upsert.htm) when a record is updated, the API only returns the updated fields. It does not return the Salesforce ID.

I don't see how we can fix this without doing an extra API call.

[2017-09-18 22:05] daniellanciana opened #334 "Rspec testing / mocking"
Hi, what is the best way of mocking Salesforce through Restforce for Rspec testing? Looking around the only framework I can see is https://github.com/execonline-inc/restforce_mock -- which doesn't have a lot of activity.

Any suggestions appreciated.

[2017-09-19 02:04] JPWallhorn opened #335 "Sandbox Login - Authentication Failure"
Hey guys,

I went through everything but for some reason none if the instructions / help work for me. I'm still getting an authentication error when I try to login to a sandbox.

This is my setup:
client = Restforce.new :refresh_token => current_user.refresh_token,
        :instance_url  => current_user.instance_url,
        :client_id     => 'client_id',
        :client_secret => 'client_secret',

[2017-09-19 08:51] timrogers commented on #334
Broadly, I'd say there are two approaches you could take to testing your integration: trusting Restforce, or not trusting Restforce.

### I trust Restforce: use standard RSpec stubbing and mocking

If you believe that Restforce is well-tested and fundamentally works, then using standard RSpec stubbing and mocking is simple. It's something you're likely to be doing already, and works well.

All you

[2017-09-20 11:53] timrogers commented on #335
I'd try talking to Salesforce about this to understand better what settings you should be using - and maybe look at https://github.com/restforce/restforce/issues/284.

[2017-09-20 19:45] michniewicz commented on #323
@JPWallhorn have you tried to set this in `request_headers` as it is desribed in Readme?
 https://github.com/restforce/restforce#custom-headers There is an example with `sforce-auto-assign`, so setting `sforce-limit-info` should work same way.

[2017-09-22 00:04] JPWallhorn commented on #323
@michniewicz Thank you for this, what exactly happens when I set to false as described? What is the method it's using? `request_headers: { 'sforce-auto-assign' => 'FALSE' })`

[2017-09-22 13:44] antwonlee commented on #335
@JPWallhorn have you tried with user and password method to connect to your sandbox?

[2017-09-27 01:34] JPWallhorn commented on #335
No, I'm trying to avoid username / password.

I got one step further but looking at OmniAuth. I added `provider OmniAuth::Strategies::SalesforceSandbox,`

Additionally, when I want to login to Salesforce now I get directed to test.salesforce.com rather than login.salesforce.com so it chooses the right provider now.

Now I'm just running into an issue that I have an URI mismatch: `error=redirect_ur

[2017-09-29 17:08] antwonlee commented on #335
Is your callback URL matching the remote or your local machine?

[2017-10-02 16:54] MatthiasRMS opened #336 "Attach file to opportunity"
Hi,

I found how to create a new document, but couldn't find how to attach a file to an opportunity.

I can do it through the web interface, but didn't find how to do it with RestForce.

thanks

[2017-10-02 17:05] MatthiasRMS commented on #336
Found a solution:

[code]

[2017-10-02 17:05] #336 closed

[2017-10-03 14:02] MatthiasRMS opened #337 "Receive refresh_token"
Hi,

I'm authenticating your user by redirecting them to:
`url = "#{instance_url}/services/oauth2/authorize?response_type=token&scope=full&client_id=#{client_key}&redirect_uri=http://localhost:3000/salesforce/login&state=mystate"`

When succesfully authenticated on salesforce , I don't receive a refresh_token in the callback. I get in the params:  access_token, signature, scope, instance_url, and

[2017-10-03 14:26] timrogers commented on #337
This gem doesn't do the OAuth part itself per se - you just plug in an access token, refresh token etc. and it'll let you access the Salesforce API, as well as automatically refreshing where needed.

Take a look [here](https://help.salesforce.com/articleView?id=remoteaccess_oauth_scopes.htm&type=0) - it tells you to use the `refresh_token` scope to get a refresh token (only available under certain

[2017-10-05 13:59] mattfiocca opened #338 "Invalid Client Credentials"
I'm pretty stumped with an issue that I can't seem to find the answers to elsewhere.

I have two clients that we have implemented restforce for. We're using password authentication on their connected apps, and I have one client's implementation working without issues, the other I get `Restforce::AuthenticationError: invalid_client: invalid client credentials` whenever we make any calls on `client.

[2017-10-05 16:20] mattfiocca commented on #338
retract... client secret was provided to us incorrectly. ...

[2017-10-05 16:20] #338 closed

[2017-10-06 16:48] octopusinvitro opened #339 "Weird warning messages from config "instance variable not initialized""
Hi,

We are having a bunch of weird warnings when running the tests with RSpec.

We have set the following environment variables with tests values:

[code]

and use an instance of `Restforce.new('our_sandbox_name')` for the client. The tests work and are green, but this is printing at the beginning:

[code]

Are we doing something wrong?

[2017-10-06 17:13] timrogers commented on #339
I’m fairly sure that you can’t pass a string as the parameter when
instantiating the client - but I’ll check for you in a bit!
On Fri, 6 Oct 2017 at 17:48, Octopus in vitro <notifications@github.com>
wrote:

[2017-10-06 21:15] octopusinvitro commented on #339
@timrogers Ah sorry, don't check it out, I wrote it from memory, not copy pasting. I have updated it.

[2017-10-10 19:21] timrogers commented on #339
Not had a chance to look at this yet - I'll try to in the next day!

[2017-10-19 04:09] JPWallhorn commented on #335
@antwonlee Sorry for the late response but that was the solution because the callback URL is /salesforcesandbox instead of /salesforce

[2017-10-19 04:09] #335 closed

[2017-10-19 20:05] Skeyelab commented on #282
@mikeyoungyoung were you ever able to get access to knowledge articles?

@timrogers, is this possible?

[2017-10-21 21:54] michniewicz commented on #339
@octopusinvitro as an alternative you can set host as env variable `SALESFORCE_HOST` and use just `Restforce.new` in the code.

[2017-10-23 21:39] octopusinvitro commented on #339
@michniewicz we tried that today, we ran `export SALESFORCE_HOST="our_sandbox_name"` before running the tests, and used `Restforce.new` in the tests, we still see the same warnings.

[2017-10-25 03:35] antwonlee commented on #339
How are you running the test?

[2017-10-25 03:37] antwonlee commented on #337
I think we should make a tutorial video how to get refresh_token from Salesforce.  This process is always tricky in OAuth process.

[2017-10-25 03:59] antwonlee commented on #337
@MatthiasRMS What OAuth 2.0 authentication flow is your app using?

[2017-10-25 04:18] antwonlee commented on #337
@MatthiasRMS  Try it with https.

[2017-10-25 05:45] antwonlee commented on #337
Try changing your Redirect to: https://login.salesforce.com/services/oauth2/success

[2017-10-25 13:26] octopusinvitro commented on #339
This is one of our test files where we are testing a class that makes a request through the Salesforce API. In line 41 we are passing a client that uses `Restforce.new(host: 'cs70.salesforce.com')`, which is our sandbox for the tests:

https://github.com/survival/donation-system/blob/c204794bb61e09b2138ce1e0d7c8c613cc9c5366/spec/salesforce/donation_creator_spec.rb#L41

We are using VCR to record t

[2017-10-25 16:12] michniewicz commented on #339
though those warnings are caused by `instance_variable_get` in `config.rb:73` i believe it makes sense to leave those variables uninitialized for performance reasons, see this for reference https://bugs.ruby-lang.org/issues/10396
we decided to silence warnings in our project, as it is default rspec behavior for a long time https://github.com/rspec/rspec-rails/pull/1163

thoughts?

[2017-10-27 05:51] weichenghsu opened #343 "How could I create a record using hash"
Let's say I put the data into hash.
How could I add a record this way?
Without

attrsHash = {name: company, age:13}

`client.create(k, attrsHash)`

[2017-10-28 20:01] octopusinvitro commented on #339
Thank you, @michniewicz.

I can confirm that the warnings are thrown only on the first `Restforce.new(host: blah`) call.

We would prefer not to silence warnings for all tests if possible, as it is only this gem who is producing the warnings.

[2017-10-29 20:33] mikeyoungyoung commented on #282
@skeyelab gave up on the use case. Should be possible though with the latest release of Salesforce. Knowledge is in the rest API I believe

[2017-10-30 03:33] antwonlee commented on #343
@weichenghsu Try this https://github.com/restforce/restforce/issues/287

[2017-10-31 13:42] hetre85 commented on #279
I am using the username/password flow in a sandbox env.

I would instantiate the Restforce client.

I would call `.authenticate!` and receive the following error:

`Restforce::AuthenticationError: invalid_grant: authentication failure`

To get this gem working with my sandbox account using the username/password flow I did this:

- set my ENV variables as recommended in the docs
- **comment out the

[2017-11-07 14:14] teezz opened #344 "How can I download a rich text image?"
In Salesforce I store images in a rich text field. The image URL is stored in a separate text field (img_url =  https://XXX.content.force.com/servlet/rtaImage?eid=a0X..eoid=00N...&refid=0EM...A) and a 3rd formula field is creating an img src (e.g. img_formular = <img src=\"https://xxx.content.force.com/servlet/rtaImage?eid=a0X6E0000004YIc&amp;feoid=00N6E000000jv9g&amp;refid=0EM6E0000008U7g\" alt=\

[2017-11-07 15:18] timrogers commented on #344
Is the URL in the `img_url` field publicly accessible? (e.g. if you copy and paste it into a browser, does it work?)

[2017-11-07 20:33] teezz commented on #344
Hi timrogers,
if I copy the img_url to another window in the same browser as the rails app it works. If I copy to another browser version it asks for login. That makes sense. But I don't find an option in Salesforce
where I can set the img_url Textfield publicly accessible. Is that possible? (I know that option only when uploading a document).
I want to download the image in a controller action in

[2017-11-13 11:53] octopusinvitro commented on #339
Hi :wave:
Any news on this?
We don't want to silence RSpec warnings in our project.

[2017-11-15 14:59] antwonlee commented on #344
@teezz If your assets are stored as Salesforce files, you might have to make the images externally accessible.  Perhaps, it is not the field level security but the file itself is not publicly sharable.

I have similar structure but my image_url is hosted in Contentful or AWS where image sharing settings are managed as public.

If you test it with a public accessible image, your code should work fi

[2017-11-22 04:20] antwonlee commented on #339
@octopusinvitro Does your spec give error if you test this not in a sandbox environment but a production url as well?

[2017-11-23 17:05] Arepo opened #347 "Is it possible to invoke SF's fuzzy matching logic in queries?"
We have a fuzzy company name matching rule as described here: https://help.salesforce.com/articleView?id=matching_rules_matching_methods.htm&type=0

So if, having initialised our `client` object, we have, say a SF record for `Weyland-Yutani Inc` and we call `client.create!('Account', Name: 'Weyland-Yutani')`, we get this error:

```Faraday::ClientError: DUPLICATES_DETECTED: You're creating a dupli

[2017-11-23 17:31] timrogers commented on #347
Can you try setting `Restforce.log = true` and then looking at what is logged when you try to create a duplicate? I'm wondering if Salesforce will include in the response the clashing record. `Restforce::Middleware::Logger` will dump the request and response to STDOUT automatically.

[2017-11-24 12:58] Arepo commented on #347
Apparently they don't :\

```body: "[{\"message\":\"You're creating a duplicate record. We recommend you use an existing record instead.\",\"errorCode\":\"DUPLICATES_DETECTED\",\"fields\":[]}]"```

I guess that means it's not possible?

[2017-11-26 04:42] antwonlee commented on #347
@Arepo This is an interesting problem.  I don't think neither a) or b) is possible.  Perhaps, you might have to find an alternate approach to manage duplicate during `create!`.

Can you just query the find the first, and if it returns some values have the user decided if they need to create a new record or use the returned record.  So the final logic decision is made by the user than a method.

[2017-11-28 13:02] Arepo commented on #347
@antwonlee I'm not sure what you mean by finding the values. As far as I can see, there's no reliable way to know what the duplicate record would be (short of trying to duplicate the whole fuzzy match logic), since we just get the text above back. So all we could say to the users is 'we think there's a similar record with slightly different details - do you want to try changing your details until

[2017-11-28 13:22] timrogers commented on #347
My googling seems to imply that it's not currently possible to get what
you're looking for in the REST API, unfortunately. You also can't customise
the application of these kinds of rules, as you can in the SOAP API with
headers (see https://success.salesforce.com/ideaView?id=0873A000000lEL5QAM).

One suggestion is to implement your own REST endpoint in Apex, which could
have this functionality -

[2017-11-29 12:27] Arepo commented on #347
Thanks Tim. That's probably a heavier touch than we want atm for what's a pretty rare edge case, so I guess we can shelve this issue.

[2017-11-29 12:30] #347 closed

[2017-12-06 00:29] drewish commented on #249
Per https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_sosl_examples.htm?search_text=escaping
You need to escape special characters: `& | ! ( ) { } [ ] ^ “ ~ * ? : \ ' + -`

[2017-12-06 00:30] drewish commented on #249
Meant to add that that it would be nice to have a method to escape these built into the library.

[2017-12-06 11:17] timrogers commented on #249
@drewish Fancy adding one?

[2017-12-06 13:22] drewish commented on #249
I'm using something like:
[code]
Happy to open up a PR if you could point me at the best place to put it.

[2017-12-07 22:38] LucasCioffi commented on #182
@demonmind to create a `external ID field` is there a specific data type one must?  In the screenshot below, `External Lookup Relationship` comes closest but that's probably not correct, because on the next Salesforce screen I get an empty dropdown with ` Select the external object to which this object is related.`
![Uploading Screen Shot 2017-12-07 at 5.36.22 PM.png…]()

[2017-12-11 09:58] timrogers commented on #182
@LucasCioffi From what I remember, you just choose a type as normal (things like "Auto Number" are fine, for example) and it'll ask you if you want it to be an external ID at the next step.

[2017-12-23 06:22] LucasCioffi commented on #182
Thanks @timrogers.  Do you know if it is possible to create a custom field using the API?

[2018-01-03 18:35] LucasCioffi opened #353 "Custom fields will not update"
Great gem, by the way!

Is there a way to set the permissions with the tooling API at the moment the custom field is created?

I'm able to create a custom field using the tooling API:
[code]
But I can't update the field like this...
[code]
until after I go into the Salesforce Web UI and make the field's accessibility "Editable" like this:
![screen shot 2018-01-03 at 1 33 38 pm](https://user-images

[2018-01-04 13:08] timrogers commented on #353
I think it might be possible with the Metadata API - see https://salesforce.stackexchange.com/questions/36846/metadata-api-custom-field-permissions-how-to-automate-this-process/64743 - but it looks like it's difficult. I'm going to close this issue, as it's out-of-scope for Restforce.

[2018-01-04 13:08] #353 closed

[2018-01-04 15:31] LucasCioffi commented on #353
@timrogers Thank you for that prompt response.

Just to make sure I'm not missing anything,

1. With this gem we can create custom fields via the Tooling API, but we cannot update the value of that field for any record in Salesforce?

2. And this gem does not deal with the Metadata API?

Once again, I do appreciate it.

[2018-01-04 15:36] timrogers commented on #353
1. Yes, that's right, as far as I'm aware.
2. Yes.

[2018-01-08 15:17] LucasCioffi commented on #353
@timrogers I was able to use the Metaforce gem to create a permission set and then update that permission set so that the custom field is editable.
[code]

Can I use this Restforce gem to assign the permission set to a Salesforce user?  Here is the relevant page from the SOAP API Developer Guide: https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_objects_permissionsetassignm

[2018-01-08 16:24] LucasCioffi commented on #353
@timrogers I got the answer for how to assign a permission set to a user.  Here it is in case it's helpful for others in the future:
[code]

[2018-01-08 23:09] okram999 opened #354 "iterating over the Restforce::Collection"
how can i access the "records" array in the object that i got by quering an sf instance? `accounts = client.query('select Id, EventType, Logdate from EventLogFile where LogDate = 2018-01-01T00:00:00Z')`

[2018-01-09 09:52] timrogers commented on #354
Is `records` a field on the `EventLogFile`?

[2018-01-09 15:19] okram999 commented on #354
no, record is not a field in the EventLogFile.  This is the response as the 'accounts' in the question.

`#<Restforce::Collection:0x00000002197218 @client=#<Restforce::Data::Client @options={:api_version=>"41.0", :username=>"sfdc.dev", :password=>"somepass!", :security_token=>nil, :client_id=>"3MVG9A2kN3Bn1XgTalsb2qZ0e7r9tzLavy7o_V7AAQG7jKctPLq.qDq", :client_secret=>"87623", :host=>"login.salesfor

[2018-01-09 15:48] okram999 commented on #354
okay - i think i got this, i looked into the source https://github.com/restforce/restforce/blob/master/lib/restforce/collection.rb

[code]

[2018-01-10 07:45] adamthedeveloper commented on #169
What ever happened with this? It's now 2018 and this is still happening to me (new salesforce user). Why is it so hard to have clarity around how to connect and have the right auth sauce?

[2018-01-10 10:18] timrogers commented on #169
It's difficult for me to say - although I maintain the gem, I've never experienced the problem myself, and we've never got a clear view of exactly how people have fixed it when they have done. Have you experimented with some of the solutions in this thread?

[2018-01-10 15:55] antwonlee commented on #169
@adamthedeveloper can you share how you are authenticating so we can help?  What error are you getting?

[2018-01-10 22:39] hoenth commented on #169
As a note, I received the invalid_grant message doing this:

    client = Restforce.new(username: 'foo',
                       password: 'bar',
                       security_token: 'security token',
                       client_id: 'client_id',
                       client_secret: 'client_secret',
                       api_version: '41.0')

But connected successfully using this and NOT appen

[2018-01-11 18:04] adamthedeveloper commented on #169
@hoenth I am seeing the exact opposite of you. I have to pass in the username, password, security_token, client_id and client_secret or I get invalid_grant.

So strange that different combos work for different people. What's even more frustrating is that the authority, Salesforce themselves, don't spell out exactly what settings are needed to auth correctly.

One thing I will say is that our api_v

[2018-01-11 20:35] hoenth commented on #169
@adamthedeveloper How do you know your API version is 26? 41 is the current version. At least, it is the version that is listed when I build the wsdl for our instance. If you go to Setup | Build | Develop | API | Generate Partner WSDL, you should see the version that you are using.

[2018-01-11 20:52] adamthedeveloper commented on #169
@hoenth My clue that 26 is the version simply came from the response back within the options attribute when I instantiate the client:

[code]
I'll take a look at that WSDL page you suggested to see what it says. I am currently not specifying the version when I instantiate the client. It prints out as api_version 26.0 - hence, I assume that is the version salesforce is defaulting to - as you suspec

[2018-01-11 23:48] adamthedeveloper commented on #169
Hmmm.....when I instantiate a client, will it eventually timeout or something? I'm using a singleton in my rails app. When I open a console and try to run a query, it works fine. I never get auth failures. I'm wondering if setting up the client as a singleton upon app initialization is the problem. Does the client timeout?

[2018-01-12 00:33] adamthedeveloper commented on #169
Ok, a little more to show you. I'm getting this error:

Restforce::UnauthorizedError: Connection prefix not set

Again, this only happens on occasion and I'm not sure why. Any help anyone can offer is most welcome.

Thanks- Adam

[2018-01-13 18:30] #343 closed

[2018-01-13 18:55] antwonlee commented on #354
@okram999 Did you find a solution to this?  Also, when you are talking about :oauth_token, are you referring to this? `:oauth_token=>"DIZcbAJBBdKtF67Vm3pBI1vasRBp41PQpDCz2yfghnqwXYpyvcecLvpUx"` from your response?

[2018-01-14 02:33] aureo96 opened #357 "Invalid_grant: authentication failure"
Hello so before having this issue I was able to update my sandbox tables using the following code to retrieve the token:
[code]

However, After Christmas break I only get this error. I change my password and security token and added them to my project, but I still get this error. I looked at the login history, in salesforce, and it seems the call is hitting the user, but the access is denied due t

[2018-01-14 02:56] okram999 commented on #357
how about checking the `clientId` and the `client secret` for the connected app?
i am using it and it still works.

[2018-01-14 02:56] okram999 commented on #354
yes, and i found the way to get that from the api docs

[2018-01-14 02:56] #354 closed

[2018-01-14 03:14] aureo96 commented on #357
@okram999 Yeah those are fine. I even created a new connected app and copy pasted the client secret/Id. However, I am still unable to connect.
In the login history it even tells me that it was my connected app which had the Invalid Password.

[2018-01-14 03:23] okram999 commented on #357
ok. Below are some things that you can do to isolate the issue:

1. make sure you are using the version: **restforce (2.5.3)** [this is what i use and commenting based on it]
2. Try using your credentials with the ant migration tool. This will make sure your login credentials work.
3. Silly but, make sure there is no typos in there.  The log` access is denied due to "Invalid Password"`, still says

[2018-01-14 04:02] aureo96 commented on #357
Yeah something is wrong here:
![image](https://user-images.githubusercontent.com/25411302/34912705-66819124-f8ad-11e7-8f1f-1b3dc06e320e.png)

[2018-01-14 04:21] aureo96 commented on #357
@okram999 is the migration tool considered a Third-Party Account, because my Third-Party Account List in settings shows as disabled.

[2018-01-14 14:54] antwonlee commented on #357
If all your credential seems right, but still not able to login—try unlocking the user.  It might be locked due to multiple login failure attempts.

[2018-01-14 19:32] aureo96 commented on #357
@antwonlee It does not seem to be that. As far as I can see all my users are marked as active. I already asked my Product Owner to request recent login attempts, in order to see the credentials that were used. From there  I will see what I can do. Thanks Anyways.

I will give a follow up once I get what I requested.

[2018-01-15 04:55] antwonlee commented on #357
Do you have another **working** username/password credentials you can test?

[2018-01-16 00:01] aureo96 commented on #357
@antwonlee @okram999 So apparently my product owner sent me an old security token when I asked him to send me the most recent. I guess this would have been solved earlier if I had reset the security token, but I did not want to wait until the reply. Thus, I asked him for the most recent one, and got the right one.

Sorry for opening an issue that was not due to the gem or salesforce itself.

[2018-01-16 00:01] #357 closed

[2018-01-17 19:17] #344 closed

[2018-01-23 17:55] okram999 opened #361 "Posting on chatter with restforce"
can i use restforce to do a simple chatter post?

[2018-01-23 18:30] antwonlee commented on #361
I don't think so. https://github.com/restforce/restforce/issues/38

[2018-01-23 18:30] antwonlee commented on #361
As well as https://github.com/restforce/restforce/issues/83

[2018-01-23 18:37] timrogers commented on #361
You can! I've done it in the past. You'll want to create a `FeedItem` - see https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_responses_feed_item.htm for the attributes. The code will look like:

[code]

[2018-01-23 18:39] antwonlee commented on #361
Ah!  Thanks @timrogers Sorry @okram999!

[2018-01-23 18:51] okram999 commented on #361
thanks @antwonlee and @timrogers

[2018-01-23 18:51] #361 closed

[2018-01-23 22:37] antwonlee commented on #334
@timrogers I think it will be good to have this in the document for everyone who implement TDD in their apps.

[2018-01-24 15:59] mintotsai commented on #91
I had a similar issue and was able to solve with a response middleware. My example below for others. If this can be better, please let me know.

[code]

[2018-02-03 16:58] adamthedeveloper commented on #272
@georges how did you eventually dig yourself out of this? Any help from anyone would be great. I’m blocked from using the API right now.

[2018-02-03 18:24] georges commented on #272
Usually in this situation there are a couple of things that happen. If the service is configured with a wrong/old password, it will eventually lock the account because of too many retries. When this occurs the only way out is to shutdown any service/jobs that access SF api, which means downtime. Then you need to have the account unlocked by an admin. Then change the password for that account. Note

[2018-02-03 18:25] antwonlee commented on #272
☝️ Yup.  That's what I would do as well as @georges mentioned.

[2018-02-05 05:53] adamthedeveloper commented on #272
@antwonlee @georges Thanks for getting back to me on this guys - I really appreciate it. I'll work on this and report back on the status.

[2018-02-05 16:58] antwonlee commented on #272
Awesome explanation @georges .  @adamthedeveloper please let us know if this worked or not.

[2018-02-05 17:24] adamthedeveloper commented on #272
@antwonlee @georges I was able to get things going again by setting the security_token parameter to the new value on the clients. Concatenation of the password and the security token caused me to NOT be able to authenticate. After using the password alone (not concatenated with the security token) everything came to life. This is what worked for me.

So, explicitly setting the security token in th

[2018-02-11 19:42] alker7 opened #363 "Feature request: support the new composite endpoints"
Spring '18 includes a new composite endpoint which allows you to process up to 2000 records at once. E.g.
[code]
gives you the name and industry of two records at once. See
https://releasenotes.docs.salesforce.com/en-us/spring18/release-notes/rn_api_rest.htm#rn_api_rest

Would be great if restforce would support these too.

[2018-02-15 19:36] antwonlee commented on #363
This seems like a nice feature.  @alker7 You want to take a stab at it? :wink:

[2018-02-15 23:01] daneshd opened #364 "Dependent picklist entries flagged as valid incorrectly"
I have a dependent picklist that's flagging all of its values as valid even though the controlling picklist flags none of them as valid. I was looking into the [logic used to check validty](https://github.com/restforce/restforce/blob/ff1e4ffbe645c873db2df1f4b384d9bc38d20463/lib/restforce/concerns/picklists.rb#L83-L85) to see why it's happening.

I'm not too familiar with `unpack` so I may be wrong

[2018-02-25 21:45] #303 closed

[2018-02-25 23:02] antwonlee commented on #364
@timrogers Did you contribute to this part of code at all?

[2018-02-25 23:03] #272 closed

[2018-02-25 23:04] #334 closed

[2018-03-07 02:07] jcabasc commented on #284
Hey @kevinjbayer - thanks for share your scenario. I'm wondering, how do you get the refresh_token in the first place. Which action/request did you use?. It's been a long time I know.

[2018-03-07 20:35] kevinjbayer commented on #284
@jcabasc I believe most of it can be gleaned from the code I put above. I'm manually making the call in my controller, and @admin.sf_refresh_token should grab response[:refresh_token], not [:id_token]. It has been a minute so I can't recall exactly, but let me know if there's something more specific you need help with.

[2018-03-07 21:43] inoda opened #367 "Sporadic connection prefix + authentication failure (using Middleware::Authentication::Password)"
I am experiencing sporadic Authorization/Authentication exceptions. `UnauthorizedErrorConnection: Connection prefix not set` is always raised first, followed by `AuthenticationError: invalid_grant: authentication failure`.

`Restforce::UnauthorizedError: Connection prefix not set`
https://github.com/restforce/restforce/blob/master/lib/restforce/middleware/instance_url.rb#L7

`Restforce::Authentica

[2018-03-20 23:51] JaisonBrooks commented on #367
I am having this issue all over the place today. Im using API version 39.0.

[2018-03-21 01:54] inoda commented on #367
So we learned this was NOT a Restforce problem. It took getting on the phone w/ a SF rep, but we were hitting our 3600/hr login limit. The error message SF is just really unexplicit.

We were making the mistake of initializing a Restforce client _per request_, as opposed to once upon server start.

[2018-03-21 01:54] #367 closed

[2018-04-25 06:38] gauravsaini23 commented on #298
We already have a pull request created for JWT auth flow. I am not sure what is blocking it to be merged.
https://github.com/restforce/restforce/pull/305

[2018-04-25 10:46] RKushnir opened #374 "Confusing `default` argument to the `Mash` constructor"
It seems this code has been copied from the [`Hashie::Mash#initialize`](https://github.com/intridea/hashie/blob/4070a699b039a1083971f698647d3707df4b03cc/lib/hashie/mash.rb#L124-L125)
https://github.com/restforce/restforce/blob/467be4f6db4db10c64b1ec7fa48cb47de46f548a/lib/restforce/mash.rb#L48-L49

But in this context it behaves differently, because the parent class is different. Also, I couldn't f

[2018-04-30 21:34] AlexDWu commented on #298
Hello! I'm interested in seeing #305 merged as well.

[2018-05-04 20:21] pixelparlordev opened #376 "User Accounts / Fields won't sync user to new sandbox Error "Provided external ID field does not exist or is not accessible""
Hi. I have been developing with one sandbox with a specific app, and everything was working fine. I was able to sync user info back and forth. Then we switched to a new test sandbox, with the exact same app. Now, for some reason I can't create a new user and sync to salesforce.

When I try to click add to salesforce as a new user, I get a user name like tmp_sf_5aecbe07d3ca11.77821783

Then I try t

[2018-05-04 20:56] pixelparlordev commented on #376
never-mind wrong thing

[2018-05-07 11:39] pre commented on #169
I was also investigating this `Restforce::AuthenticationError: invalid_grant: authentication failure` problem. For me, the issue eventually was that I was using the username/password flow, and I didn't notice that changing the user account's password also caused the security token being reset.

The new security token got emailed to an email address that I didn't follow. I found this thing out when

[2018-05-12 01:01] antwonlee commented on #376
@pixelparlordev were you able to solve this problem?  If so, let us know so others can reference this issue later.

[2018-05-14 17:14] Arepo opened #377 "Is it possible to download the new SF 'ContentDocument' object type through Restforce?"
As far as I can see, SF no longer uses the 'Attachment' object type for new object types. I recently set one up to have what I thought was an attachment and eventually realised it was a 'ContentDocument' - but I'm unsure how to download the actual file via the API since neither the ContentDocument object nor the associated ContentVersion or ContentDocumentLink objects appear to have a 'body' field

[2018-05-17 04:27] antwonlee commented on #377
Maybe this will help?

https://salesforce.stackexchange.com/questions/212488/retrieve-contentdocument-file-rest-api?answertab=active#tab-top

**ContentVersion**
https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_objects_contentversion.htm

[2018-05-17 04:29] #376 closed

[2018-05-20 13:33] shivanshgaur opened #380 "Zlib::GzipFile::Error when using httpclient adapter in faraday."
Hi,
On using [HTTPClient](https://github.com/nahi/httpclient) adapter for [Faraday](https://github.com/lostisland/faraday), we get the following error:
[code]

I found out that HttpClient supports transparent gzip decompression(issue [#42](https://github.com/nahi/httpclient/issues/42)). Faraday has enabled this by default since v0.9.2([PR](https://github.com/lostisland/faraday/pull/457)).

Thus, I

[2018-05-24 11:12] Arepo commented on #377
Is there any plan to integrate the functionality into Restforce? We can do it the old-fashioned way if we have to, but would prefer something that works out of the box with the code we already have

[2018-06-06 12:16] ricardopacheco opened #384 "Bug: User info not working for salesforce API 43.0 version"
[code]

In 42.0 version, works!

[2018-06-07 21:00] mmmries opened #385 "Getting Faraday::ResourceNotFound errors for get_deleted calls"
In my code I'm calling `client.get_deleted("Account", 7.days.ago, Time.current)` to ask for any accounts that have been recently deleted in salesforce, but this is raising a `Faraday::ResourceNotFound (NOT_FOUND: The requested resource does not exist)` error.

Was this facility removed from the salesforce API? Or Maybe moved?

[2018-06-07 21:29] mmmries commented on #385
BTW I've been on version `2.5.3` for a while now and this was working as of last night when my system last ran an update, so maybe this is an outage on the salesforce side?

[2018-06-08 18:09] mmmries commented on #385
I dug into this further and it appears to be a problem where the client is adding an extra `/` into the URL. If i turn on logging in the client and call `client.get_deleted` I get a log entry like this:

[code]

If I copy that same URL, but remove the extra `/` just before `sobjects`, then I can make a curl request on the comandline and it works fine.

[2018-06-08 19:08] mmmries commented on #385
I did some additional testing and this call works fine under `ruby-2.4.3`, but under `ruby-2.5.1` I get the error above. It also looks like this was already fixed in d51befa7f74e54cece9cd553473edba07673b73f, but the gem hasn't been re-released since then?

[2018-06-08 19:16] mmmries commented on #385
Looks like this is actually fixed by #366, I'll just wait for a release that includes that fix.

[2018-06-08 19:16] #385 closed

[2018-06-12 16:09] #221 closed

[2018-06-28 02:43] neo4u opened #389 "Any plan to implement retries for paginated requests"
[code]

Hi Team,

I seem to get the below error:

[code]

Are there any plan to add retries when accessing a page? or wait and retry technique such as exponential back-off?

Is there a way to add a retry on my own for a specific page fetch? For example if I have an error on an import of page 5/10 can I retry only page 5 without having to retry all 1-5 pages?

[code]

As of now I retry the entire i

[2018-06-29 17:50] chadwilken commented on #169
So I was also hitting this and the key was removing the security_token *and* removing the ENV var since the lib auto detects the var

[2018-07-21 02:53] taufek opened #390 "How to update/insert Compound Field?"
Is it possible to update/insert a compound field such as BillingAddress under Account object?

When I tried to run below code I'm getting the following error response from Salesforce

Update command:
[code]

Error response:
[code]

[2018-07-21 04:44] taufek commented on #390
Found my answer:

[code]

[2018-07-21 04:45] #390 closed

[2018-07-23 19:01] mintotsai opened #391 "Unable to find/query fields with double quotes"
Hi, Thanks for all the work with restforce!

When performing a query or find, and a field contains a double quote, I'm getting a "unexpected token" error.

Ruby - 2.2.10
Rails - 5.0.7
Restforce - 2.5.3

Here is my query:

`intake = restforceClient.query("SELECT Id, Pain_Area_Image_Data__c FROM Intake_Form__c WHERE Id = 'a0V1Y00000VMDeLUAX'")`

Here is the error:

`2018-07-23 13:51:10.860 [wtf] >>>

[2018-07-24 18:12] mintotsai commented on #391
I discovered the error was caused by a middleware issue on my part.

[2018-07-24 18:12] #391 closed

[2018-07-25 18:40] johnnagro commented on #242
any updates on this?

[2018-07-30 16:21] peeyush-ad2games commented on #169
This error is coming randomly for us as well, we are not using `security_token` stuff but the OAuth but still getting this error:-

Configuration sample:-
[code]

[2018-07-31 10:55] peeyush-ad2games commented on #169
Tried to dig down a bit and tried creating HTTP request myself with the creds and when we are getting errors in Restforce a normal curl request also starts to fail, so I think it's more of SF issue.

[2018-08-03 20:38] abezzub-upstart opened #396 "undefined method `fetch' for "":String with update to 3.0.0"
We just switched to the latest version of Restforce because of CVE and are now getting this error for all `upsert!` calls:

"undefined method `fetch' for "":String

Error happens on this line:
https://github.com/restforce/restforce/blob/b3a52e8cfcfd20af727b3c8449ffc599774e3035/lib/restforce/concerns/api.rb#L383

[2018-08-03 22:15] timrogers commented on #396
This is fixed in #395. I’ll release a patch tomorrow.
On Fri, 3 Aug 2018 at 21:38, Andrew Bezzub <notifications@github.com> wrote:

[2018-08-04 12:57] timrogers commented on #396
Fixed by #395

[2018-08-04 12:57] #396 closed

[2018-08-08 22:44] neo4u opened #399 "Any plans to support kafka for streaming?"
Any plans to support kafka for streaming?

[2018-08-09 09:46] RKushnir opened #400 "Streaming silently fails when there was no prior authentication"
Not sure if this is a bug in the implementation or an expected behavior which lacks documentation.
I just noticed, for the streaming to work you first need to call `authenticate!`(or do any other request, which would implicitly call it). So this wouldn't give any error and seem to work, but will not receive any notifications:
[code]

I would expect it to either call `authenticate!` automatically,

[2018-08-09 12:45] Arepo opened #401 "Redirection on authenticate! causing error"
We've just set up a new Sandbox, which I'm trying to figure out how to access with the API. Having set all the relevant variables to what I *think* they should be, when I run a test that calls a query of any sort on the client, I get as far as Middleware::Authentication#authenticate!, but the response looks like this:

[code]

And because it has no body, the Middleware::Authentication#error_messag

[2018-08-10 20:36] adamthedeveloper commented on #238
I noticed that this issue is still open even though the change was merged. Is this change actually available to use?

[2018-08-14 22:47] shanekw opened #402 "superclass mismatch for class Cipher"
updated my gems today and started getting this error:

C:/Ruby25-x64/lib/ruby/2.5.0/openssl/cipher.rb:18: warning: constant OpenSSL::Cipher::Cipher is deprecated
C:/Ruby25-x64/lib/ruby/2.5.0/openssl/cipher.rb:24: warning: already initialized constant OpenSSL::Cipher::AES
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/openssl-2.1.1/lib/openssl/cipher.rb:24: warning: previous definition of AES was here
C:/R

[2018-08-14 22:48] shanekw commented on #402
issue is from faraday

[2018-08-14 22:48] #402 closed

[2018-08-21 13:14] antwonlee commented on #399
I don't think there is any plan for supporting kafka specifically.  @timrogers Would something like this work for you? https://github.com/nodefluent/salesforce-kafka-connect

[2018-08-21 13:16] #288 closed

[2018-09-12 12:01] techsethi opened #405 "Login with Sales Force Button"
Hi,

It may not be the perfect place to place this query but I want to implement a "Login with Sales Force" button on my button using oAuth or omniauth.

I have looked around but haven't found any solution. Can someone point me to any links / gem to use for the same.

Thanks in advance.

[2018-09-12 12:40] antwonlee commented on #405
Hey @techsethi I have made a demo here: https://github.com/antwonlee/restforce-omniauth-salesforce-demo-app

[2018-09-12 12:42] antwonlee commented on #405
You will need these gems: https://github.com/antwonlee/restforce-omniauth-salesforce-demo-app/blob/688b3323bd488594dcad22cb2f1accd3eead15a2/Gemfile#L63-L64

[2018-09-13 21:02] iandonovan opened #406 ".update! creating a new record?"
First off, thanks so much for the library and your work on it, it's appreciated.

My issue is this: I am using username&password authentication, and everything's working great. I can create new Opportunity objects (through `client.create!`) and everything's great. Later, though, I'm retrieving the record and using `.update` to alter it, like this:

[code]

This operation succeeds, but it creates a

[2018-09-13 21:14] antwonlee commented on #406
You are right, that shouldn't be.

Few questions.

1. Does it update the original record and create another with same data or does it create new record but does not update the original record?

2. Since you tried with `!`, what exceptions were raised?

Try it without the `!` and see what that does.

[code]

[2018-09-13 21:29] iandonovan commented on #406
I feel very silly.

After digging a little deeper, it looks like my code is checking for the resource on salesforce, updating it if it exists, and then _continuing on_ to create a new one, rather than returning. My fault. Oh I'm so embarrassed!!!

[2018-09-13 21:29] #406 closed

[2018-09-14 09:59] #405 closed

[2018-10-01 23:30] zrc210 commented on #318
Ok, Upgrading the Latest version of Restforce and Faye seems to work sometimes.
However, there is an unhanded exception being raised:

[code]
"gems/restforce-3.1.0/lib/restforce/concerns/streaming.rb:52:in `fetch'",
"gems/restforce-3.1.0/lib/restforce/concerns/streaming.rb:52:in `block in incoming'",
"gems/restforce-3.1.0/lib/restforce/concerns/streaming.rb:51:in `tap'",
"gems/restforce-3.1.0/lib/

[2018-10-10 21:41] rywall commented on #318
@zrc210 I'm also seeing this `key not found` issue after upgrading Restforce to 3.1.0. Did you manage to figure anything out regarding this error?

[2018-10-11 13:02] Arepo opened #410 "Is there support for string interpolation in queries?"
I have a couple of related issues:

1) I want to do something like `client.query("select Foo from Bar where Id in [arr, o, Ids])`. I can get this to sort of work, but only via the ugly method of ensuring each string in the array is surrounded by single quotes and then joining the array beforehand with comma separation.

2) In some cases, I want to be able to interpolate strings with any punctuatio

[2018-10-11 15:08] rywall commented on #318
I fixed this particular error (`key not found: "channel"`) in my app by locking faye to `0.8.9` (while leaving restforce at `3.1.0`).

With a newer version of faye (`1.2.4`) I get the following `message` passed to https://github.com/restforce/restforce/blob/8744f3c4d2461e7eaf9f7d0f6963c2ce6b0ab33f/lib/restforce/concerns/streaming.rb#L50.

`{"clientId"=>"4f1mmkodgnsirk815i198g266ikp", "error"=>"403

[2018-10-11 15:49] zrc210 commented on #318
@rywall - I'm still having issues, but haven't had the chance to debug too deeply. I stopped getting that key not found error after upgrading to the latest version of the salesforce API. ApiVersion: 43.0 or so. The default version used by restforce is super old - https://github.com/restforce/restforce#api-versions. I wonder if the Salesforce API version is relevant to channel issue...

[2018-10-16 18:55] zrc210 commented on #318
@rywall Ok, Enabling debugging does reveal some things to investigate further:
[code]

I wonder if we need to send the magic value of `-1` as per [the documentation](https://github.com/restforce/restforce/commit/d8dd602d24f7ec627c83baa2b9677d40c0edc46d)

However, unrelated to that, I am getting the 403::Unknown Client error as well. Searching for `advice":{"interval":0,"reconnect":"handshake"` doe

[2018-10-19 18:46] charlesemarsh opened #412 "Restforce::AuthenticationError - Login Rate Exceeded"
Hello All,

When doing resource intensive jobs like background updating a whole bunch of accounts, I'm seeing this error message "Restforce::AuthenticationError" and my user is being locked out of salesforce.

After checking the login logs, I can see that I'm hitting the login rate limit and Salesforce is erroring with 'Login Rate Exceeded', slowing it down isn't really an option for me as I need